button {
  background-color: #DDD;
  border-radius: .25rem;
  @include pt-sm;
  @include pr-1;
  @include pb-sm;
  @include pl-1;
}

.offline-btn {
  background-color: transparent;
  color: $link;
  .icon {
    border-right: 2px solid currentColor;
    padding-right: .125rem;
  }
  @include flex;
  @include jc-center;
  padding: 0;
  // 480
  @media (max-width: $break-480) {
    .tooltip {
      min-width: 7em;
      &::before {
        //display: none;
        right: auto;
        left: 16px;
      }
    }
  }
  // 480
  @media (min-width: $break-480) {
    min-width: 3rem;
    .tooltip {
      &::before {
        left: calc(50% - 6px);
      }
    }
  }
}