.offline-btn {
  background-color: transparent;
  color: $link;
  .icon {
    border-right: 2px solid currentColor;
    padding-right: .125rem;
  }
  @include flex;
  @include jc-center;
  min-width: 3rem;
  padding: 0;
}