.offline-btn {
  background-color: transparent;
  color: $link;
  .icon {
    border-right: 2px solid currentColor;
    padding-right: .125rem;
  }
  @include flex;
  @include jc-center;
  padding: 0;
  // 375
  @media (max-width: $break-375) {
    .tooltip {
      min-width: 7em;
      &::before {
        display: none;
      }
    }
  }
  // 375
  @media (min-width: $break-375) {
    min-width: 3rem;
  }
}