// base
$black: #111;
$charcoal: #222;
$grey: #333;
$grey-555: #555;
$grey-777: #777;
$grey-999: #999;
$grey-CCC: #CCC;
$grey-EEE: #EEE;
$white: #FFFFFF;
$off-white: #FAFAFA;

// blue
$blue: #29ABE2;
$blue-bright: #159EFC;
$blue-light: mix(white, $blue, 50%);
$blue-dark: mix(black, $blue, 25%);

// green
$green: #39B54A;
$green-light: mix(white, $green, 35%);
$green-dark: mix(black, $green, 25%);

// orange
$orange: #F15A24;
$orange-light: mix(white, $orange, 35%);
$orange-dark: mix(black, $orange, 25%);

// purple
$purple: #93278F;
$purple-light: mix(white, $purple, 35%);
$purple-dark: mix(black, $purple, 25%);

// accents
$rust: #d14c1f;
$teal: #29c5bc;
$blue-rich: #607ee8;
$yellow: #EDD952;
$pink: #D25494;


// modifiers

.c-black {
  color: $black;
}

.c-white {
  color: $white;
}

.c-off-white {
  color: $off-white;
}

.c-grey-222 {
  color: $charcoal;
}

.c-grey-333 {
  color: $grey;
}

.c-grey-555 {
  color: $grey-555;
}

.c-grey-777 {
  color: $grey-555;
}

.c-grey-999 {
  color: $grey-999;
}

.c-blue {
  color: $blue;
}

.c-green {
  color: $green;
}

.c-orange {
  color: $orange;
}

.c-purple {
  color: $purple;
}

.c-rust {
  color: $rust;
}

.c-blue-rich {
  color: $blue-rich;
}

.c-yellow {
  color: $yellow;
}

.c-pink {
  color: $pink;
}
