{{ partial "1_elements/head.html" . }}

<body>

  {{ partial "1_elements/icons/svg-icons.html" . }}

  {{ $PatternLibrarySCSS := resources.Get "css/pattern-library/pattern-library.scss" }}
  {{ $PatternLibraryCSS := $PatternLibrarySCSS | resources.ToCSS (dict "targetPath" "css/pattern-library/pattern-library.css" "enableSourceMap" false) }}
  {{ $PatternLibraryAutoprefixed := $PatternLibraryCSS | resources.PostCSS }}
  {{ $PatternLibraryMinified := $PatternLibraryAutoprefixed | resources.Minify }}
  {{ $PatternLibrary := resources.Get "css/pattern-library/pattern-library.scss" | toCSS | postCSS | minify }}
  <link rel="stylesheet" href="{{ $PatternLibrary.Permalink }}">
  <!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}css/pattern-library/pattern-library.min.css"> -->

  <div class="sg-wrap">

    <!-- header-->
    <header class="sg-header" role="banner" data-scroll-header>
      <button class="toggle-button" id="menu-toggle" data-text-original="☰" data-text-swap="✕" role="button" aria-label="open-main-menu" aria-expanded="false">☰</button>
      <div class="option-select">
        <p class="title"><a class="home-link" href="/">DMNS</a> - <a href="//github.com/ericthayer/DMNS/">v0.25.6</a></p>
        <div class="dropdown">
          <button class="screen-size-toggle" id="resize-toggle" aria-label="resize-content-window" aria-expanded="false"><svg class="icon icon-resize"><use xlink:href="#icon-resize"></use></svg></button>
          <ul class="toggle-list" hidden>
            <li><button id="toggle-sm" aria-label="view-content-in-small-screen-mode"><svg class="icon icon-mobile"><use xlink:href="#icon-mobile"></use></svg><span aria-hidden="true">SM</span></button></li>
            <li class="md"><button id="toggle-md" aria-label="view-content-in-medium-screen-mode"><svg class="icon icon-tablet"><use xlink:href="#icon-tablet"></use></svg><span aria-hidden="true">MD</span></button></li>
            <li class="lg"><button id="toggle-lg" aria-label="view-content-in-large-screen-mode"><svg class="icon icon-display"><use xlink:href="#icon-display"></use></svg><span aria-hidden="true">LG</span></button></li>
            <li><button class="no-caps jc-center pr-1 is-active" id="toggle-full" aria-label="view-content-in-fullscreen-mode"><svg class="icon icon-resize-full-screen"><use xlink:href="#icon-resize-full-screen"></use></svg><span aria-hidden="true">Full</span></button></li>
          </ul>
        </div>
      </div>
    </header>

    <!-- nav-->
    <nav class="sg-sidebar" id="sg-sidebar" aria-label="sidebar" hidden>
      <ul class="sg-sidebar-nav nav flex-column" id="pattern-library-sidenav" role="tablist" aria-orientation="vertical">
        <li class="nav-item dropdown">
          <a class="nav-link active show" id="elements-tab" data-toggle="pill" href="#elements-tab-content" role="tab" aria-controls="elements-tab-content" aria-selected="false">Elements</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#elements-overview" data-scroll>Overview</a>
            <a class="dropdown-item" href="#colors" data-scroll>Colors</a>
            <a class="dropdown-item" href="#typography" data-scroll>Typography</a>
            <a class="dropdown-item" href="#buttons" data-scroll>Buttons</a>
            <a class="dropdown-item" href="#actions" data-scroll>Actions</a>
            <a class="dropdown-item" href="#lists" data-scroll>Lists</a>
            <a class="dropdown-item" href="#forms" data-scroll>Forms</a>
            <a class="dropdown-item" href="#tables" data-scroll>Tables</a>
            <a class="dropdown-item" href="#templates" data-scroll>Templates</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="components-tab" data-toggle="pill" href="#components-tab-content" role="tab" aria-controls="components-tab-content" aria-selected="false">Components</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#components-overview" data-scroll>Overview</a>
            <a class="dropdown-item" href="#banners" data-scroll>Banners</a>
            <a class="dropdown-item" href="#bars" data-scroll>Bars</a>
            <a class="dropdown-item" href="#features" data-scroll>Features</a>
            <a class="dropdown-item" href="#cards" data-scroll>Cards</a>
            <a class="dropdown-item" href="#templates" data-scroll>Templates</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" id="modules-tab" data-toggle="pill" href="#welcome-tab-content" role="tab" aria-controls="modules-tab-content" aria-selected="false">Modules</a></li>
        <li class="nav-item"><a class="nav-link" id="templates-tab" data-toggle="pill" href="#templates-tab-content" role="tab" aria-controls="templates-tab-content" aria-selected="false">Templates</a></li>
        <li class="nav-item"><a class="nav-link" id="pages-tab" data-toggle="pill" href="#pages-tab-content" role="tab" aria-controls="pages-tab-content" aria-selected="false">Pages</a></li>
        <li class="nav-item">
          <a class="nav-link view-all-tabs" id="welcome-tab" data-toggle="pill" href="#0" role="tab" aria-controls="welcome-tab-content" aria-selected="true" data-text-original="View All" data-text-swap="Hide All">View All</a>
        </li>
        <li class="nav-item sg-brand">
          {{ partial "1_elements/site-logo.html" . }}
        </li>
      </ul>
    </nav>

    <main class="sg-main" id="main" role="main">
      <div class="sg-content">
        <!-- Patterns -->
        <div class="sg-content-wrap tab-content">

          <!-- Elements -->
          <div class="tab-pane fade active show" id="elements-tab-content" role="tabpanel" aria-labelledby="elements-tab">

            <!-- Introduction -->
            <section class="sg-module sg-module-intro" id="elements-overview">
              <h2 class="sg-module-title">Elements</h2>
              <p class="sg-module-description mb-0">The <strong>Elements</strong> of our interfaces serve as the foundational building blocks that comprise all our user interfaces. These elements include basic HTML elements like form labels, inputs, buttons, and others that can’t be broken down any further without ceasing to be functional.</p>
            </section>

            <!-- Typography-->
            <section class="sg-module" id="typography">
              <h2 class="sg-module-title">Typography</h2>
              <p class="sg-module-description"></p>

              <!-- Font Stack -->
              <section class="sg-module" id="fonts">
                <h2 class="sg-module-title">Fonts</h2>
                <p class="sg-module-description"></p>
                <div class="sg-sample">



                </div>
              </section>

              <!-- Headings -->
              <div class="sg-sample sg-sub-module flex flex-d-col">
                <h3 class="title-sm" id="headings">Headings</h3>
                <div>
                  <h1>heading h1</h1>
                  <h2>heading h2</h2>
                  <h3>heading h3</h3>
                  <h4>heading h4</h4>
                  <h5>heading h5</h5>
                  <h6>heading h6</h6>
                  <br/>
                  <p class="h1">.h1</p>
                  <p class="h2">.h2</p>
                  <p class="h3">.h3</p>
                  <p class="h4">.h4</p>
                  <p class="h5">.h5</p>
                  <p class="h6">.h6</p>
                </div>
              </div>

              <!-- Titles -->
              <div class="sg-sample sg-sub-module flex flex-d-col">
                <h3 class="title-sm" id="titles">Titles</h3>

                <!-- Title Styles -->
                <div class="flex flex-d-col">
                  <p class="title-lg">Title Large</p>
                  <p class="title-md">Title Medium</p>
                  <p class="title-sm">Title Small</p>
                  <p class="title-tiny">Title Tiny</p>
                  <br />
                  <p class="title-lg title-bold">Title Large</p>
                  <p class="title-md title-bold">Title Medium</p>
                  <p class="title-sm title-bold">Title Small</p>
                  <p class="title-tiny title-bold">Title Tiny</p>
                  <br />
                  <p class="title-base title-caps">Title Caps</p>
                  <p class="title-base title-underline">Title Underline</p>
                  <p class="title-base title-bold">Title Bold</p>
                  <span class="main-menu bg-trans p-0" style="min-height: initial;">
                    <span class="title">Menu Title</span>
                  </span>
                  <br />
                </div>
              </div>

              <!-- Labels -->
              <div class="sg-sample sg-sub-module">
                <h3 class="title-sm" id="labels">Labels</h3>

                <div class="flex flex-d-col">
                  <p class="label-lg">Label Large</p>
                  <p class="label-md">Label Medium</p>
                  <p class="label-sm">Label Small</p>
                  <p class="label-tiny">Label Tiny</p>
                  <p class="label-bold">Label Bold</p>
                </div>


              </div>

              <!-- Copy -->
              <div class="sg-sample sg-sub-module">
                <h3 class="title-sm" id="copy">Copy</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ullam nam sed, labore illum, amet natus cupiditate totam corporis obcaecati rem voluptatum nesciunt.</p>

                <p>Doloribus magni inventore, necessitatibus aut assumenda illum iusto consequuntur officia ratione quod, harum nostrum obcaecati! Sunt minima deserunt, dolor <a href="#0">beatae ipsam aut et consectetur praesentium</a> musto, porro eligendi est repellendus tempora nihil veritatis excepturi incidunt placeat saepe optio autem! Consequatur ipsam quos voluptates delectus, saepe magni. Nesciunt ullam ipsa voluptatum, a porro, asperiores aspernatur atque.</p>

                <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                <p><del>This line of text is meant to be treated as deleted text.</del></p>
                <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
                <p><u>This line of text will render as underlined</u></p>
                <p><small>This line of text is meant to be treated as fine print.</small></p>
                <p><strong>This line rendered as bold text.</strong></p>
                <p><em>This line rendered as italicized text.</em></p>
              </div>

              <!-- Blockquote -->
              <div class="sg-sample sg-sub-module">
                <h3 class="title-sm" id="blockquote">Blockquote</h3>
                <blockquote class="blockquote">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
              </div>

              <!-- Address -->
              <div class="sg-sample sg-sub-module">
                <h3 class="title-sm" id="address">Address</h3>
                <address>
                  <strong>Denver Museum of Nature & Science</strong>
                  <p>2001 Colorado Blvd.</p>
                  <p>Denver, CO 80205</p>
                  <p><a href="tel:3033706000">303.370.6000</a><p>
                </address>
              </div>

            </section>

            <!-- Colors-->
            <section class="sg-module" id="colors">
              <h2 class="sg-module-title">Colors</h2>
              <p class="sg-module-description"></p>
              <div class="sg-sample">

              </div>
            </section>

            <!-- Buttons-->
            <section class="sg-module" id="buttons">
              <h2 class="sg-module-title">Buttons</h2>
              <p class="sg-module-description"></p>

              <!-- Bootstrap -->
              <div class="sg-sample sg-sub-module grid">
                <div><button type="button" class="btn btn-primary">Primary</button></div>
                <div><button type="button" class="btn btn-secondary">Secondary</button></div>
                <div><button type="button" class="btn btn-success">Success</button></div>
                <div><button type="button" class="btn btn-danger">Danger</button></div>
                <div><button type="button" class="btn btn-warning">Warning</button></div>
                <div><button type="button" class="btn btn-info">Info</button></div>
                <div><button type="button" class="btn btn-light">Light</button></div>
                <div><button type="button" class="btn btn-dark">Dark</button></div>
                <div><button type="button" class="btn btn-text">Text</button></div>

                <!-- Text -->
                <div>
                  <button type="button" class="btn btn-link">
                    <span class="btn-label">Link</span>
                  </button>
                </div>

                <!-- w/ inline SVG symbol -->
                <div>
                  <button type="button" class="btn btn-link btn-flex">
                    <span class="btn-label">Media Right</span>
                    <div class="media-item">
                      <svg class="icon icon-arrow-custom">
                        <use xlink:href="#icon-arrow-custom" />
                      </svg>
                    </div>
                  </button>
                </div>

                <!--  w/ inline media left -->
                <div>
                  <button type="button" class="btn btn-link btn-flex">
                    <span class="btn-label">Media Left</span>
                    <div class="media-item media-left">
                      <img class="icon icon-arrow-custom" src="{{ .Site.BaseURL }}images/icons/svg/icon-arrow-blue.svg" data-fallback="{{ .Site.BaseURL }}images/icons/png/icon-arrow-blue.png" alt="" role="presentation">
                    </div>
                  </button>
                </div>

              </div>

              <!-- CTAs -->
              <section class="sg-module" id="actions" style="padding-right: 0; padding-left: 0;">
                <h2 class="sg-module-title">Actions</h2>
                <p class="sg-module-description"></p>

                <div class="sg-sample sg-sub-module grid">


                  <!-- CTA default -->
                  <div>
                    {{ partial "2_components/actions/callout-action.html" . }}
                  </div>

                  <!-- CTA Buy -->
                  <div>
                    {{ partial "2_components/actions/callout-buy-ticket.html" . }}
                  </div>

                </div>

                <div class="sg-sample sg-sub-module grid">

                  <!-- CTA Reserve -->
                  <div>
                    {{ partial "2_components/actions/callout-reserve.html" . }}
                  </div>

                </div>
              </section>

              <!-- Functional -->
              <div class="sg-sample sg-sub-module">
                <!-- Close -->
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>


            </section>

            <!-- Lists-->
            <section class="sg-module" id="lists">
              <h2 class="sg-module-title">Lists</h2>
              <p class="sg-module-description"></p>
              <div class="sg-sample">
                <ul>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Integer molestie lorem at massa</li>
                  <li>Facilisis in pretium nisl aliquet</li>
                  <li>Nulla volutpat aliquam velit
                    <ul>
                      <li>Phasellus iaculis neque</li>
                      <li>Purus sodales ultricies</li>
                      <li>Vestibulum laoreet porttitor sem</li>
                      <li>Ac tristique libero volutpat at</li>
                    </ul>
                  </li>
                  <li>Faucibus porta lacus fringilla vel</li>
                  <li>Aenean sit amet erat nunc</li>
                  <li>Eget porttitor lorem</li>
                </ul>

                <ol>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Integer molestie lorem at massa</li>
                  <li>Facilisis in pretium nisl aliquet</li>
                  <li>Nulla volutpat aliquam velit</li>
                  <li>Faucibus porta lacus fringilla vel</li>
                  <li>Aenean sit amet erat nunc</li>
                  <li>Eget porttitor lorem</li>
                </ol>

                <dl>
                  <dt>Description lists</dt>
                  <dd>A description list is perfect for defining terms.</dd>
                  <dt>Euismod</dt>
                  <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem.</dd>
                  <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                  <dt>Malesuada porta</dt>
                  <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                </dl>

              </div>
            </section>

            <!-- Forms-->
            <section class="sg-module" id="forms">
              <h2 class="sg-module-title">Forms</h2>
              <p class="sg-module-description"></p>
              <div class="sg-sample">

                <!-- base -->
                <form>
                  <fieldset>
                    <legend>Example legend</legend>

                    <p>
                      <label for="input">Example input</label>
                      <input type="text" id="input" placeholder="Example input">
                    </p>

                    <p>
                      <label for="select">Example select</label>
                      <select id="select">
                        <option value="">Choose...</option>
                        <optgroup label="Option group 1">
                          <option value="">Option 1</option>
                          <option value="">Option 2</option>
                          <option value="">Option 3</option>
                        </optgroup>
                        <optgroup label="Option group 2">
                          <option value="">Option 4</option>
                          <option value="">Option 5</option>
                          <option value="">Option 6</option>
                        </optgroup>
                      </select>
                    </p>

                    <p>
                      <label>
                        <input type="checkbox" value="">
                        Check this checkbox
                      </label>
                    </p>

                    <p>
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                        Option one is this and that
                      </label>
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Option two is something else that's also super long to demonstrate the wrapping of these fancy form controls.
                      </label>
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                        Option three is disabled
                      </label>
                    </p>

                    <p>
                      <label for="textarea">Example textarea</label>
                      <textarea id="textarea" rows="3"></textarea>
                    </p>

                    <p>
                      <label for="date">Example date</label>
                      <input type="date" id="date">
                    </p>

                    <p>
                      <label for="time">Example time</label>
                      <input type="time" id="time">
                    </p>

                    <p>
                      <label for="output">Example output</label>
                      <output name="result" id="output">100</output>
                    </p>

                    <p>
                      <button type="submit">Button submit</button>
                      <input type="submit" value="Input submit button">
                      <input type="button" value="Input button">
                    </p>

                    <p>
                      <button type="submit" disabled="">Button submit</button>
                      <input type="submit" value="Input submit button" disabled="">
                      <input type="button" value="Input button" disabled="">
                    </p>
                  </fieldset>
                </form>

              </div>
            </section>

            <!-- Tables-->
            <section class="sg-module" id="tables">
              <h2 class="sg-module-title">Tables</h2>
              <p class="sg-module-description"></p>
              <div class="sg-sample">

                <!-- base -->
                <table>
                  <caption>
                    This is an example table, and this is its caption to describe the contents.
                  </caption>
                  <thead>
                    <tr>
                      <th>Table heading</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                </table>

                <!-- Bootstrap -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>

                <!-- Striped -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>



              </div>

            </section>
          </div>

          <!-- Components -->
          <div class="tab-pane fade" id="components-tab-content" role="tabpanel" aria-labelledby="components-tab">

            <!-- Introduction -->
            <section class="sg-module sg-module-intro" id="omponents-overview">
              <h2 class="sg-module-title">Components</h2>
              <p class="sg-module-description mb-0">In interfaces, <strong>Components</strong> are relatively simple groups of UI elements functioning together as a unit. For example, a form label, search input, and button can join together to create a search form molecule</p>
            </section>

            <!-- Banners -->
            <section class="sg-module" id="banners">
              <h2 class="sg-module-title">Banners</h2>
              <p class="sg-module-description"></p>

              <!-- Hero -->
              <div class="sg-sample sg-sub-module">
                <h3 class="title-sm" id="hero">Hero</h3>
                <p class="sg-module-description">The hero is a large block that typically appears at the top of the page and contains a large full-bleed image and a title.</p>
                {{ partial "2_components/banners/hero/hero.html" . }}
              </div>

              <!-- Hero -->
              <div class="sg-sample sg-sub-module">
                <h3 class="title-sm" id="hero">Hero</h3>
                <p class="sg-module-description">The hero is a large block that typically appears at the top of the page and contains a large full-bleed image and a title.</p>
                {{ partial "2_components/tabs/panel-tabs.html" . }}
              </div>

              <!-- Feature -->
              <section class="sg-module" id="feature-banner">
                <h2 class="sg-module-title">Feature Banner</h2>
                <p class="sg-module-description"></p>

                <!-- Did You Know - Feature Banner -->
                <div class="sg-sample">
                {{ partial "2_components/banners/feature/feature-banner-astronaut.html" . }}
                </div>

                <!-- Did You Know - Feature Banner (media masked) -->
                <div class="sg-sample">
                {{ partial "2_components/banners/feature/feature-banner-masked-king-tut.html" . }}
                </div>


              </section>

            </section>

            <!-- Bars -->
            <section class="sg-module" id="bars">
              <h2 class="sg-module-title">Bars</h2>
              <p class="sg-module-description"></p>

              <!-- Purchase Signup -->
              <div class="sg-sample sg-sub-module">
                <h3 class="title-sm" id="purchase-signup">Purchase Signup</h3>
                {{ partial "2_components/bars/purchase-signup.html" . }}
              </div>

              <!-- Member Callout -->
              <div class="sg-sample sg-sub-module">
                <h3 class="title-sm" id="member-callout">Member Callout</h3>
                {{ partial "2_components/bars/member-callout.html" . }}
              </div>

            </section>

            <!-- Features -->
            <section class="sg-module" id="features">
              <h2 class="sg-module-title">Features</h2>
              <p class="sg-module-description"></p>

              <!-- Media Grid -->
              <div class="sg-sample sg-sub-module">
                <h3 class="title-sm" id="sg-media-grid">Media Grid</h3>
                {{ partial "2_components/media/sg-media-grid.html" . }}
              </div>

              <!-- Media Grid -->
              <div class="sg-sample sg-sub-module">
                <h3 class="title-sm" id="media-grid">Media Grid (features)</h3>
                {{ partial "2_components/media/media-grid.html" . }}
              </div>
            </section>


          <!-- Cards -->
          <section class="sg-module" id="cards">
            <h2 class="sg-module-title">Cards</h2>
            <p class="sg-module-description"></p>

            <!-- Card -->
            <div class="sg-sample sg-sub-module">
              <h3 class="title-sm" id="card">Card</h3>
              {{ partial "2_components/cards/card.html" . }}
            </div>

            <!-- Flex Card -->
            <div class="sg-sample sg-sub-module">
              <h3 class="title-sm" id="flex-cards">Flex Card</h3>
              {{ partial "2_components/cards/flex-card.html" . }}
              <br />
              {{ partial "2_components/cards/flex-card-reverse.html" . }}
            </div>

            <!-- Feature Card -->
            <div class="sg-sample sg-sub-module">
              <h3 class="title-sm" id="feature-card">Feature Card</h3>
              {{ partial "2_components/cards/feature-card-compact.html" . }}
            </div>

            <!-- Card Deck -->
            <div class="sg-sample sg-sub-module">
              <h3 class="title-sm" id="card-deck">Card Deck</h3>
              {{ partial "2_components/cards/card-deck.html" . }}
            </div>

            <!-- Card Group -->
            <div class="sg-sample sg-sub-module">
              <h3 class="title-sm" id="card-group">Card Group</h3>
              {{ partial "2_components/cards/card-group.html" . }}
            </div>

            <!-- Card Group -->
            <div class="sg-sample sg-sub-module">
              <h3 class="title-sm" id="card-group">Callout Card</h3>
              {{ partial "2_components/cards/callout-card.html" . }}
            </div>

            <!-- Card Group -->
            <div class="sg-sample sg-sub-module">
              <h3 class="title-sm" id="card-group">Card Group</h3>
              {{ partial "2_components/cards/card-group.html" . }}
            </div>

            <!-- Card Group -->
            <div class="sg-sample sg-sub-module">
              <h3 class="title-sm" id="card-group">Pricing Card</h3>
              {{ partial "2_components/cards/pricing-card.html" . }}
            </div>







          </section>
          </div>


        <!-- END / SG Content Wrap-->
        </div>
      </div>
    </main>

    {{ partial "scripts/main-js.html" . }}
    {{ partial "scripts/pattern-library-js.html" . }}

  </body>
</html>
