




<!-- Dependencies -->
<script src="{{ mainScript }}" async></script>
<script>
  var html = document.documentElement;

  if (sessionStorage.fontsLoaded) {
    html.classList.add("fonts-loaded");
  } else {
    var script = document.createElement("script");
    script.src = "../../js/libs/fontfaceobserver.js";
    script.async = true;
  
    script.onload = function () {
      var KO94 = new FontFaceObserver("Knockout-29");
      var Roboto = new FontFaceObserver("Roboto Condensed", {
      });
  
      Promise.all([
        KO94.load(),
        Roboto.load()
      ]).then(function () {
        html.classList.add("fonts-loaded");
        sessionStorage.fontsLoaded = true;
      });
    };
    document.head.appendChild(script);
  }
</script>
<script>
  var ajax = new XMLHttpRequest();
  ajax.open("GET", "../../images/UI/ui-icons/ethayer-icons.svg", true);
  ajax.send();
  ajax.onload = function(e) {
    var div = document.createElement("div");
    div.innerHTML = ajax.responseText;
    document.body.insertBefore(div, document.body.childNodes[0]);
  }
</script>
<script src="../../js/libs/smooth-scroll.min.js"></script>
<script>
smoothScroll.init({
  selector: "[data-scroll]",
  speed: 1000,
  easing: "easeInOutCubic",
  offset: 0,
});
</script>


  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script type="text/javascript" src="/js/nav.js"></script>
  <script type="text/javascript" src="/js/progress.js"></script>
  <script type="text/javascript" src="/js/overlay.js"></script>
  </body>
</html>
