// portfolio


.portfolio {
  background: linear-gradient(to left, #e96443 , #904e95);
  .banner-headline {
    color: #FFF;
    .sub-header {
      color: #FFF;
    }    
  }
  .site-header {
		background: transparent;
    background: linear-gradient(to left, #e96443 , #904e95);
    height: auto;
    min-height: 0;
		margin-bottom: 0;
	}
  section:not(.banner),
  footer {
    @include bg-light-grey;
  }
  // < 640
  @media (max-width: $break-ml-phone) {
    .site-title {
      display: none;
    }
  }
  // > 640
  @media (min-width: $break-ml-phone) {
    .home-link {
      display: none;
    }
  }
  // 640
  @media (max-width: $break-ml-phone) {
    flex-direction: column-reverse;
  }
  // 768 (tall)
  @media (min-height: $break-lg-phone) {
    flex-direction: column-reverse;
  }
}

.home-link {
  .icon {
    font-size: 1.5rem;
  }
}

// Projects Section

.projects {
  .media-caption {
    display: none;
  }
  .l-media-grid {
    // 900
    @media (min-width: $break-900) {
      > * {
        &:first-child {
          width: 50%;
        }
      }
    }
    // 1200
    @media (min-width: $break-lg-screen) {
      justify-content: flex-start;
      > * {
        flex-grow: 0;
        flex-shrink: 1;
        width: 33%;
        &:first-child {
          width: 33%;
        }
      }
    }
  } 
}