<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #e85853;"></span>
		<span class="sg-label">
			$orange-red <br />
			#5C832F
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3392a8;"></span>
		<span class="sg-label">
			$link-green <br />
			#3b4a20
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3b3322;"></span>
		<span class="sg-label">
			$dark <br />
			#3b4a20
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #595942;"></span>
		<span class="sg-label">
			$medium <br />
			#3b4a20
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5f6747;"></span>
		<span class="sg-label">
			$primary <br />
			#3b4a20
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #a1a278;"></span>
		<span class="sg-label">
			$secondary <br />
			#3b4a20
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #feffda;"></span>
		<span class="sg-label">
			$light <br />
			#3b4a20
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #61140e;"></span>
		<span class="sg-label">
			$accent <br />
			#3b4a20
		</span>
	</li>
</ul>