<div class="text-md">

<div class="sans-serif mb-1">Primary font - $sans-serif: "Helvetica Neue", Helvetica, sans-serif;</div>

<div class="sans-serif-narrow mb-1">Secondary font - $sans-serif-narrow: "Roboto Condensed", "Arial Narrow", $sans-serif;</div>

<div class="serif mb-1">Serif font - $serif: "Garamond", "Cambria", Georgia, serif;</div>

<div class="KO29 mb-1">Headline font - $KO29: "Knockout-29", $sans-serif-narrow;</div>

<div class="Roboto">Paragraph font - $Roboto: "Roboto Condensed", $sans-serif-narrow;</div>

</div>