/* --- Featured Data (counter)  --- */

.featured-data {
	@include mod-block;
	background-color: $brand-gray;
	color: white;
	font-family: 	$Montserrat;
	h2 {
		margin-top: 1em;		
		text-align: center;	
	}
	.btn-txt {
		color: $orange-light;
		display: block;	
		font-size: 1.125em;
		margin: 0;		
		text-align: center;	
	}
}

.data-post-wrap {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 1em 0;
	// 768
	@media (min-width: $break-768) {
		
	}	
}

.data-post {
	margin-bottom: 1em;
	text-align: center;	
	p {
		margin-bottom: 0.5em;	
	}
	p.small {
		font-family: $OpenSans;
		font-size: 0.75em;	
	}
	figure {
		width: 50%;	
	}
	span {
		font-size: 1.75em;	
	}
	a {
		font-family: $Montserrat;
	}
	// 768
	@media (min-width: $break-768) {
		flex: 1 0 28%;
		max-width: 600px;
		padding: 1em;	
		text-align: center;
		figure {
			width: 75%;
			&.circle-thumb {
				width: 40%;	
			}	
		}	
	}
	// 992
	@media (min-width: $break-900) {
		padding: 1em 2em;	
	}
}