/* --- Pricing Plans --- */

.pricing-plans {
	padding: 2em 0;
	// 320
	@media (min-width: $break-240) {
  	padding-right: 2em;
  	padding-left: 2em;  
	}
	// 667
	@media (min-width: $break-640) {
  	.module-title {
    	margin-bottom: 1em;  
  	}
	}
}

// Pricing Tables

.pricing-tables {
  padding-top: 1em; 
	// 768
	@media (min-width: $break-640) {
		display: flex;
		flex-flow: wrap;
	}
	// 992
	@media (min-width: $break-900) {
  	padding-top: 3em;
	}
	// 1600
	@media (min-width: $break-1600) {
  	margin: 0 auto;  
  	max-width: 1400px;  
	}
}

// Pricing Plan

.pricing-plan {
	background-color: #f6f6f6;
	border: 1px solid #f6f6f6;
	margin: 1.5em 0; 	
	padding: 1em 0;	
	text-align: center;
	&:first-child,
	&:last-child {
  	background-color: #EEE;
	}
	// 768
	@media (min-width: $break-640) {
		flex: 1 0 50%;
		margin: 0; 
	}
	// 992
	@media (min-width: $break-900) {
  	flex: 1 0 25%;
  	font-size: 1.25em; 
		.plan-features {
			span {
				display: none;	
			}
		}
	}	
}

// Plan Title

.plan-title {
	font-size: 1em;
	letter-spacing: -0.05em;		
	margin: 0;	
	padding: 0.75em 1em 1.25em;
  text-transform: uppercase;
  // 700
  @media (min-width: $break-640) {
    font-size: 0.875em;
  }	
}


// Plan Cost

.plan-cost {
	background-color: white;
	color: $blue-light;
	font: {
		family: $Montserrat;
		size: 1.25em;
		weight: 700;
	}
	padding: 1.25em 1em;
	text-transform: uppercase;
	span {
		display: none;	
	}
	// 768
	@media (min-width: $break-900) {
  	display: flex;
  	flex-flow: row wrap;
  	align-items: center;
  	justify-content: center;
  	font-size: 0.75em;  
    span {
      color: #BBB;
      //display: inline-block;
      font: {
        size: 1.5em;
        weight: 400;
      }
      padding-right: 0.15em;
      padding-left: 0.15em;            
    }	
	}
	// 992
	@media (min-width: $break-1200) {
  	font-size: 1em; 
	}	
}

// Plan Price

.plan-price {
	font-size: 3em;
	letter-spacing: -0.05em;
	line-height: 1;	
	margin-bottom: 0;
	// 992
	@media (min-width: $break-900) {
    font-size: 3.25em; 	
	}		
}

.plan-type {
  border: 0.313em solid #DDD; 
  color: $brand-gray-light;
  display: inline-block;  
	font-size: 0.75em;	
	margin: 0.75em 0 0 0.75em;
	padding: 0.3em 0.4em 0.25em;
	width: auto;
	// 768
	@media (min-width: $break-768) {
  	font-size: 0.7em; 
  	margin: 0.5em 0 0 1em;
  	padding-bottom: 0.2em;  
	}   
}

// Plan Features

.plan-features {
	margin: 0;
	padding: 2em 1em;	
	li {
		border-bottom: 1px solid #DDD;
		margin-bottom: 0.5em;
		padding-bottom: 0.75em;
		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;	
		}			
	}	
	h3 {
		color: #555;
		display: block;
		font: {
  		family: $OpenSans;
  		size: 1em;
  		weight: normal;
    } 	
		line-height: 1.3;	
		margin-bottom: 0;		
	}
	i {
		font-size: 1.5em;	
		&.icon-ok-squared {
			color: #3aa14d;
		}
		&.icon-cancel-circled {
			color: darkRed;
		}		
	}
	// 568
	@media (min-width: $break-540) {
  	h3 {
    	font-size: 0.875em; 
  	}
	}
	// 768
	@media (min-width: $break-768) {
	}
}

// Plan Button

.btn-plan {
	font-size: 0.875em;	
	max-width: 150px;
	// 480
	@media (min-width: $break-480) {	
	}
	// 768
	@media (min-width: $break-768) {
  	font-size: 0.7em; 
	}
	// 992
	@media (min-width: $break-900) {
  	font-size: 0.6em; 
	}	
}

// Featured Plan

.featured-plan {
	background-color: #eef7fc;
	border-top: 5px solid #8cd0f5;
	border-right: 0 solid transparent;
	border-bottom: 5px solid #8cd0f5;
	border-left: 0 solid transparent;
	box-shadow: 0 0 10px rgba(black, 0.15);
	overflow: hidden;	
	position: relative;
	transition: transform 400ms ease;	
	.plan-title {
		color: $blue-dark;
	}
	.btn-plan {
  	@extend .btn-primary;
	}
	// 992
	@media (min-width: $break-900) {
  	transform: scale(1.05);
	}
}

.featured-ribbon {
	@include corner-ribbon;
	// 768
	@media (min-width: $break-768) {
  	font-size: 0.65em; 
	}
	// 992
	@media (min-width: $break-900) {
  	font-size: 0.45em;  
	}
}