// Tab Slider

.tab-slider {	
	.gallery-cell {
	  width: 100%;	
	  margin-right: 10px;
	  // counter-increment: gallery-cell;
	}	
	/* cell number */
	.gallery-cell:before {
	  display: block;
	  text-align: center;
	  // content: counter(gallery-cell);
	  line-height: 200px;
	  font-size: 80px;
	  color: white;
	}
	.flickity-page-dots {
		display: none;	
	}
}