/* --- Template Style Tags  --- */

.template-style-tags {
  a {
    @extend .btn-txt;
    display: block;
    padding: 0; 
    text-align: left; 
  }
  // 480
  @media (min-width: $break-480) {
    a {
      display: inline-block;  
    }
  }
}