// Teaser Posts

.teaser-posts {
	.content-post {
		margin-bottom: 2.25em;			
		.title {
			margin-bottom: 0.313em;	
		}
		figure {	
			figcaption {
				display: none;	
			}
		}
	}
	// 500
	@media (min-width: 500px) {
		justify-content: flex-start;
		.content-post {
			display: flex;		
			figure {
				align-self: flex-start; 
				margin: 0 1em 0 0;
				width: 35%;
			}
			.post-text {
				width: 65%;
			}
		}
	}
	// 768
	@media (min-width: $break-768) {
		.content-post {
			figure {
				// flex: 1 0 20%;
				margin-right: 2em;	
			}
		}
	}
}



