<!-- Work Examples -->
<div class="container-fluid flex-layout">
   <!-- DMNS -->
   <!-- <figure class="media-item media-light spotlight">
    <a href="/dmns/" class="media-wrap img">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-DMNS.webp" alt="Front-end development for the Denver Museum of Nature and Science">
      <time class="time-stamp" datetime="2018">
        <span class="sr-only">Successfully delivered</span>2018</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Denver Museum of Nature and Science</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="//dmns.netlify.app/">
          <img src="images/content-img/16x9/img-16x9-DMNS.webp" alt="Front-end development for the Denver Museum of Nature and Science">
          <time class="time-stamp" datetime="2018">
            <span class="sr-only">Successfully delivered</span>2018</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Denver Museum of Nature and Science</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure> -->
  <!-- Swiss Ritual -->
  <figure class="media-item media-light spotlight">
    <div class="media-wrap web lazyload">
      <iframe class="lazyload" src="//dmns.netlify.app/" data-src="//dmns.netlify.app/" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <noscript>
      <div class="media-wrap web">
        <iframe class="lazyload" src="//dmns.netlify.app/" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </noscript>
  </figure>
  <!-- Merchants -->
  <figure class="media-item spotlight">
    <a class="media-wrap img" href="//codepen.io/collection/DRGMBP/">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp"
        alt="Samples of some coded art done in CodePen.">
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Merchants</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="//codepen.io/collection/DRGMBP/">
          <img src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp" alt="Samples of some coded art done in CodePen.">
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Successfully delivered</span>2017</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Swiss Ritual</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- MadRamps -->
  <figure class="media-item">
    <a class="media-wrap img" href="//codepen.io/collection/DRGMBP/">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp"
        alt="Samples of some coded art done in CodePen.">
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Swiss Ritual</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="//codepen.io/collection/DRGMBP/">
          <img src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp" alt="Samples of some coded art done in CodePen.">
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Successfully delivered</span>2017</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Swiss Ritual</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!--Unity UI -->
  <figure class="media-item">
    <a class="media-wrap img" href="//codepen.io/collection/DRGMBP/">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp"
        alt="Samples of some coded art done in CodePen.">
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Swiss Ritual</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="//codepen.io/collection/DRGMBP/">
          <img src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp" alt="Samples of some coded art done in CodePen.">
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Successfully delivered</span>2017</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Swiss Ritual</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- Phoenix IT -->
  <figure class="media-item">
    <a class="media-wrap img" href="//codepen.io/collection/DRGMBP/">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp"
        alt="Samples of some coded art done in CodePen.">
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Swiss Ritual</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="//codepen.io/collection/DRGMBP/">
          <img src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp" alt="Samples of some coded art done in CodePen.">
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Successfully delivered</span>2017</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Swiss Ritual</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- WMSB -->
  <figure class="media-item">
    <a class="media-wrap img" href="//codepen.io/collection/DRGMBP/">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp"
        alt="Samples of some coded art done in CodePen.">
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Swiss Ritual</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="//codepen.io/collection/DRGMBP/">
          <img src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp" alt="Samples of some coded art done in CodePen.">
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Successfully delivered</span>2017</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Swiss Ritual</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- SubList -->
  <figure class="media-item">
    <a class="media-wrap img" href="//codepen.io/collection/DRGMBP/">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp"
        alt="Samples of some coded art done in CodePen.">
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Swiss Ritual</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="//codepen.io/collection/DRGMBP/">
          <img src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp" alt="Samples of some coded art done in CodePen.">
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Successfully delivered</span>2017</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Swiss Ritual</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- Tournament Kings -->
  <figure class="media-item">
    <a class="media-wrap img" href="//codepen.io/collection/DRGMBP/">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp"
        alt="Samples of some coded art done in CodePen.">
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Swiss Ritual</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="//codepen.io/collection/DRGMBP/">
          <img src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp" alt="Samples of some coded art done in CodePen.">
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Successfully delivered</span>2017</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Swiss Ritual</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- Style Guides (DMNS, SimCore, StoryBook) -->
  <figure class="media-item">
    <a class="media-wrap img" href="//codepen.io/collection/DRGMBP/">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp"
        alt="Samples of some coded art done in CodePen.">
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Swiss Ritual</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="//codepen.io/collection/DRGMBP/">
          <img src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp" alt="Samples of some coded art done in CodePen.">
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Successfully delivered</span>2017</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Swiss Ritual</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- Adobe XD Contest -->
  <figure class="media-item">
    <a data-fslightbox class="media-wrap img" href="images/content-img/16x9/img-16x9-XD-profile-contest-LG.jpg">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-XD-profile-contest-MD.jpg" data-srcset="images/content-img/16x9/img-16x9-XD-profile-contest-LG.jpg 2000w, images/content-img/16x9/img-16x9-XD-profile-contest-MD.jpg 1400w"
        alt="Samples of some coded art done in CodePen.">
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Built with Adobe XD</span>2017</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Adobe XD Contest</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="#0">
          <img src="images/content-img/16x9/img-16x9-XD-profile-contest-MD.jpg" srcset="images/content-img/16x9/img-16x9-XD-profile-contest-LG.jpg 2000w, images/content-img/16x9/img-16x9-XD-profile-contest-MD.jpg 1400w"
            alt="Samples of some coded art done in CodePen.">
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Built with Adobe XD</span>2017</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Adobe XD Contest</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- Nav20s -->
  <figure class="media-item">
    <a data-fslightbox class="media-wrap img" href="images/content-img/16x9/img-16x9-Nav20s-MD.jpg">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-Nav20s-MD.jpg" data-srcset="images/content-img/16x9/img-16x9-Nav20s-MD.jpg 2000w, images/content-img/16x9/img-16x9-Nav20s-SM.jpg 1400w"
        alt="Nav20s.com home page website design concept.">
      <time class="time-stamp" datetime="2016">
        <span class="sr-only">Successfully delivered</span>2016</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Nav20s</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="#0">
          <img src="images/content-img/16x9/img-16x9-Nav20s-MD.jpg" srcset="images/content-img/16x9/img-16x9-Nav20s-MD.jpg 2000w, images/content-img/16x9/img-16x9-Nav20s-SM.jpg 1400w"
            alt="Nav20s home page website design concept.">
          <time class="time-stamp" datetime="2016">
            <span class="sr-only">Successfully delivered</span>2016</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Nav20s</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- Nav World Wide -->
  <figure class="media-item">
    <a data-fslightbox class="media-wrap img" href="images/content-img/16x9/img-16x9-NWW-MD.jpg">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-NWW-MD.jpg" data-srcset="images/content-img/16x9/img-16x9-NWW-MD.jpg 2000w, images/content-img/16x9/img-16x9-NWW-SM.jpg 1400w"
        alt="Navigators World Wide home website design">
      <time class="time-stamp" datetime="2015">
        <span class="sr-only">Successfully delivered</span>2015</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Nav World Wide</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="#0">
          <img src="images/content-img/16x9/img-16x9-NWW-MD.jpg" srcset="images/content-img/16x9/img-16x9-NWW-MD.jpg 2000w, images/content-img/16x9/img-16x9-NWW-SM.jpg 1400w"
            alt="Navigators World Wide home website design">
          <time class="time-stamp" datetime="2016">
            <span class="sr-only">Successfully delivered</span>2015</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Nav World Wide</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
</div>
<!--<a class="cta-link" href="portfolio/">View Portfolio</a>-->