<!-- Media Item (redesign demo video) -->
<figure class="media-wrap video mb-1">
  <iframe class="lazyload card" width="100%" title="Time-lapse design of ethayer.co v2.0" src="//www.youtube.com/embed/ZqlVjv8DlYI"
    frameborder="0" allowfullscreen>
  </iframe>
  <noscript>
    <figure class="media-wrap iframe mb-0">
      <iframe width="100%" title="Time-lapse design of ethayer.co v2.0" src="//www.youtube.com/embed/ZqlVjv8DlYI?rel=0" frameborder="0"
        allowfullscreen>
      </iframe>
    </figure>
  </noscript>
</figure>