// Lazy Load Styles

.enhanced {
  .lazyload {
  	opacity: 0;
  }
   figure.lazyload a:first-child,
   img.lazyload {
    display: block;  
  }
  
  .lazyloaded {
  	opacity: 1;
  	transition: opacity .3s;
  }
  
  // 667
  @media (min-width: $break-ml-phone) {
  
    .lazyload {
      will-change: transform scale;
    	transform: scale(.8);
    }
    
    .lazyloaded {
    	transform: scale(1);
    	transition: opacity, .5s, transform 1s cubic-bezier(.42,.06,.65,.99);  	 
    }
  }
}

.lazyload {
  opacity: 1;  
}

img.lazyload {
  display: none;  
}

figure.lazyload {
  & > a:first-child {
    display: none;  
  }
}

// Corner Ribbon

.wip {
  //display: none;
  opacity: .8;
  @include corner-ribbon;
  background: rgba(darkred, 1);
  font-size: .9em;
  font-family: $sans-serif;
  line-height: 2;
  position: fixed;  
  width: 400px;
  z-index: 5000; 
  svg {
    fill: white;
    height: 45px; 
    right: -1px;
    margin-bottom: 1em;
    position: relative;
    top: 6px;
  }
  span {
    display: block;
    font-size: .8em;
    opacity: 0;
    transition: .3s ease;   
  }
  .art-credit {
    position: absolute;
    top: 0;
    left: 0;   
  }
  &.bottom-right {
    height: 90px;
    bottom: -20px;
    right: -175px;
    transition: .3s ease;    
    svg, span {
      transform: rotate(45deg);
    }
    &:hover {
      height: 180px;      
      bottom: -60px;
      right: -140px;
      padding-right: 4em;
      svg {
      } 
      span {
        opacity: 1;
      }
    }
  }     
}

// Top Anchor button

// .top-anchor {
//   display: none; 
//   background: #34bb6a;
//   color: #FFF;
//   margin-right: auto; 
//   margin-left: auto;  
//   padding: .5rem .875rem;
//   //position: relative;
//   //bottom: 0;
//   //right: 50%;
//   width: 100px;
//   //margin-left: -50px;
//   text-align: center;     
// }

// Porthole.js

// [data-scroll-activate] .top-anchor {
//   opacity: 0;
//   bottom: 1rem; 
//   transition: bottom .3s ease-in, opacity .3s;
// }

// .inviewport .top-anchor {
//   opacity: 1;
//   bottom: 2rem; 
//   transition: bottom .3s ease-out, opacity .3s;
// }

// Headroom.js

// > 640
@media (min-width: $break-ml-phone) {

  .headroom {
    .main-content {
      padding-top: 7rem;
    }  
    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;  
      z-index: 1000;
      will-change: transform;
      transition: transform .3s linear;
    }
  }
  .headroom--pinned header {     
    transform: translateY(0%);
  }
  .headroom--unpinned header {
    transform: translateY(-100%);
  }
  
}

// > 900
@media (min-width: $break-900) {
  .headroom {
    .main-content {
      padding-top: 9rem;
    }
  } 
}

.skip-link {
  background-color: $link;
  color: #FFF;
  display: flex;
  justify-content: center;
  @include fonts-loaded-KO29;
  font-size: 2.5rem;
  line-height: 1;
  max-height: 0;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: .3s ease;
  width: 100%;
  z-index: 1001;
  @media (min-width: $break-ml-phone) {
    position: absolute;
  }
}

.skip-link:focus {
  max-height: 100px;
  padding-top: .5em;
  padding-bottom: .5em;
  //transition: .3s ease;
}

// focus style
:focus {
  outline: none;
  box-shadow: 0 0 15px 0 rgb(0, 0, 0);
}
