// Display Options

.show,
.block {
  display: block; 
}

.inline {
  display: inline;  
}

.inline-block {
  display: inline-block;  
}

.table {
  display: table; 
}

.table-cell {
  display: table-cell
}

.vis-hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hidden {
  display: none;  
}

// Postion

.fixed {
  position: fixed;  
}

.absolute {
  position: absolute; 
}

.relative {
  position: relative; 
}

.static {
  position: static;
}


// Floats

.float-l {
  float: left;  
}

.float-r {
  float: right;  
}

// height

.h-0 {
  height: 0;  
}

.h-25 {
  height: 25%;  
}

.h-50 {
  height: 50%;  
}

.h-75 {
  height: 75%;  
} 

.h-100 {
  height: 100%;  
}

// Width Sizes

.w-a {
  width: auto;  
}

.w-5 {
  width: 5%;  
}

.w-10 {
  width: 10%;  
}

.w-15 {
  width: 15%;  
}

.w-20 {
  width: 20%;  
}

.w-25 {
  width: 25%;  
}

.w-30 {
  width: 30%;  
}

.w-33 {
  width: 33%;  
}

.w-35 {
  width: 35%;  
}

.w-40 {
  width: 40%;  
}

.w-45 {
  width: 45%;  
}

.w-50 {
  width: 50%;  
}

.w-55 {
  width: 55%;  
}

.w-60 {
  width: 60%;  
}

.w-65 {
  width: 65%;  
}

.w-70 {
  width: 70%;  
}

.w-75 {
  width: 75%;  
}

.w-80 {
  width: 80%;  
}

.w-85 {
  width: 85%;  
}

.w-90 {
  width: 90%;  
}

.w-95 {
  width: 95%;  
}

.w-100 {
  width: 100%;  
}

.w-auto {
	width: auto; 
}

// Max-Width Sizes

.mw-2em {
  max-width: 2em;  
}

.mw-3em {
  max-width: 3em;  
}

.mw-4em {
  max-width: 4em;  
}

.mw-5em {
  max-width: 5em;  
}

.mw-6em {
  max-width: 6em; 
}

.mw-7em {
  max-width: 7em;  
}

.mw-8em {
  max-width: 8em;  
}

.mw-9em {
  max-width: 9em;  
}

.mw-10em {
  max-width: 10em; 
}

.mw-15em {
  max-width: 15em;  
}

.mw-20em {
  max-width: 20em;  
}

.mw-25em {
  max-width: 25em;  
}

.mw-30em {
  max-width: 30em;  
}

.mw-35em {
  max-width: 35em;  
}

.mw-40em {
  max-width: 40em;  
}

.mw-48em {
  max-width: 48em;  
}

.mw-56em {
  max-width: 56.25em; 
}

//** ALIGNMENT (align-left by default) **//

// align right

.align-right {
  // > 540
  @media (min-width: $break-540) {
      
    text-align: right;
      
    * + *:last-child {
      margin-right: 0; 
    }
    
  }
}

// align center

.align-center {
  // > 640
    @media (min-width: $break-768) {
    text-align: center;  
  }
}

.text-center {
  text-align: center;
}


//** FONT SIZE (1em by default) **//

.text-sm {
  font-size: .875em; 
}

.text-md {
  font-size: 1.35em; 
}

.text-lg {
  font-size: 1.5em; 
}

.text-xl {
  font-size: 1.875em; 
}


//** FONT STYLES **//

.all-caps {
  text-transform: uppercase;
}

// placement

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-neg-90 {
  transform: rotate(-90deg);
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-neg-45 {
  transform: rotate(-45deg);
}

.rotate-180 {
  transform: rotate(180deg);
}