<!-- Dependencies -->
<script src="{{ .Site.BaseURL }}js/min/script.min.js" async></script>
<script>
  var html = document.documentElement;

  if (sessionStorage.fontsLoaded) {
    html.classList.add("fonts-loaded");
  } else {
    var script = document.createElement("script");
    script.src = "{{ .Site.BaseURL }}js/libs/fontfaceobserver.js";
    script.async = true;

    script.onload = function () {
      var KO94 = new FontFaceObserver("Knockout-29");
      var Roboto = new FontFaceObserver("Roboto Condensed", {});

      Promise.all([
        KO94.load(),
        Roboto.load()
      ]).then(function () {
        html.classList.add("fonts-loaded");
        sessionStorage.fontsLoaded = true;
      });
    };
    document.head.appendChild(script);
  }
</script>
<!-- <script>
  var toggleButton = document.querySelector('.toggle-button');

  var mainMenu = document.querySelector('.nav-main ul');

  mainMenu.hidden = true;

  // toggle
  toggleButton.addEventListener('click', function() {
    let expanded = this.getAttribute('aria-expanded') === 'true' || false;
    this.setAttribute('aria-expanded', !expanded);
    // swap text
    if (toggleButton.getAttribute("data-text-swap") == toggleButton.innerHTML) {
      toggleButton.innerHTML = toggleButton.getAttribute("data-text-original");
    } else {
      toggleButton.setAttribute("data-text-original", toggleButton.innerHTML);
      toggleButton.innerHTML = toggleButton.getAttribute("data-text-swap");
    }
    // show menu
    let menu = this.nextElementSibling;
    menu.hidden = !menu.hidden;
  });
</script> -->