<!-- Dependencies -->
<script src="{{ .Site.BaseURL }}js/min/script.min.js" async></script>
<script>
  var html = document.documentElement;

  if (sessionStorage.fontsLoaded) {
    html.classList.add("fonts-loaded");
  } else {
    var script = document.createElement("script");
    script.src = "//d33wubrfki0l68.cloudfront.net/js/d04e2fcb56ecdc59f7f162f44270b5e79be33533/js/libs/fontfaceobserver.js";
    script.async = true;

    script.onload = function () {
      var KO94 = new FontFaceObserver("Knockout-29");
      var Roboto = new FontFaceObserver("Roboto Condensed", {});

      Promise.all([
        KO94.load(),
        Roboto.load()
      ]).then(function () {
        html.classList.add("fonts-loaded");
        sessionStorage.fontsLoaded = true;
      });
    };
    document.head.appendChild(script);
  }
</script>