// Status Block

.status-block {
  // > 540 < 667
  @media (min-width: $break-md-phone) and (max-width: $break-ml-phone) {
    //order: 3;
  }
}


// Skill Block

.skill-block {
  // > 540 - 900
  @media (min-width: $break-ml-phone) and (max-width: $break-900) {
    //padding-right: 0;
  }
  // // > 1200
  // @media (min-width: $break-900) {
  //   flex-grow: 0;
  //   min-width: 17em;  
  // }
}

.media-light {
  img, iframe {
    box-shadow: 0 0 0 1px #DDD;
  }
}

// headshot
.mug {
  display: none;
  margin-bottom: 2em;
  margin-right: auto;
  margin-left: auto;
  max-width: 12em;
  // > 400
  @media (min-width: 25em) {
    display: block;
    float: right;
    margin-top: 2em;
    margin-left: 1.5em;
    margin-bottom: 2em;
  }
  // < 480
  @media (max-width: $break-sm-phone) {
    max-width: 10em;
  }
  // @supports (clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%)) {
  //   border-radius: 0;
  //   clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  // }
}