// navigation styles

nav {
  a {
    display: inline-block;
    line-height: 1;    
    margin-right: 1rem;
  }
  .icon {
    font-size: 1rem;    
  }
}

// cta link

.cta-link {
  color: $link;
  display: inline-block;
  @include fonts-loaded-KO29;
  margin-bottom: .625em;
  .icon {
    font-size: .875em;
  }
}

// icon link
.icon-link {
  //@include fonts-loaded-KO29;
	.icon {
    font-size: 1.5rem;
    fill: $link;
  }
}

// icon nav

.example-links {
  a {
    color: $link;
    margin-right: .35rem; 
  }
  strong {
    font-weight: normal;
  }
  .icon {
    //display: none;  
  }
}

// contact nav

.contact-nav {
  nav {
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: .75rem;
  }
  a:first-child .icon {
    margin-left: 0;
  }
	// 480
	@media (min-width: $break-sm-phone) {
		display: flex;
		align-items: center;
		justify-content: space-between;
    h2 {
      margin-bottom: 0;
    }
		nav a {
			margin-right: 0;
			margin-bottom: 0;
			margin-left: 1.25rem;
		}
	}
}