// portfolio
.portfolio {
  // < 640
  @media (max-width: $break-ml-phone) {
    .site-title {
      display: none;
    }
  } // > 640
  @media (min-width: $break-ml-phone) {
    .home-link {
      display: none;
    }
  } 
  // 640
  @media (max-width: $break-ml-phone) {
    flex-direction: column-reverse;
  }
  // 768 (tall)
  @media (min-height: $break-lg-phone) {
    flex-direction: column-reverse;
  }
}

.home-link {
  .icon {
    font-size: 1.5rem;
  }
}

// Projects Section
.projects {
  .media-caption {
    display: none;
  }
  .l-media-grid {
    > * {
      //flex-basis: auto;
    }
    // 900
    @media (min-width: $break-md-phone) {
      > * {
        //width: 50%;
      }
    } 
    // 1200
    @media (min-width: $break-lg-screen) {
      //justify-content: flex-start;
      > * {
        //flex-grow: 0;
        //flex-shrink: 1;
        //width: 33%;
        &:first-child {
          //width: 33%;
        }
      }
    }
  }
}