// Process Steps

.process-steps {
  color: mix(black, $link, 40%);
  text-align: center;
  // > 320
  @media (min-width: $break-tiny-phone) {
    display: flex;
	  flex-wrap: wrap;
    .step {
      width: 50%;
    }
  }
  // > 640
	@media (min-width: $break-ml-phone) {
  	.step {
    	width: 33%;
    }
  }
  // > 900
	@media (min-width: $break-900) {
    .step {
      padding: 2em 1.75em;
    }
  }
}

.step {
  @include counter-item;
}