{{ partial "head.html" . }}

<body class="process">

  {{ partial "svg-icons.html" . }}

    <!-- Header -->
  <header id="site-header" class="site-header bg-red-yellow" role="banner">
      {{ partial "menus/process-main-menu.html" . }}
      <!-- Headline Banner -->
      <section class="banner banner-headline align-center pt-pb-4">
        <div class="container pt-pb-4">
          <h1 class="mr-ml-a">Creative Process</h1>
          <p class="sub-header mb-0 mw-40em md-pr-pl-2 lg-pr-pl-3">Some insight into how I work. I think a combination of interactive mockups and code based prototypes are the best way to problem solve through the creative process.</p>
            <a href="../" class="home-link">
              <svg class="icon mr-ml-0">
                <use xlink:href="#icon-home" />
              </svg><span class="sr-only">Home</span>
            </a>
        </div>
      </section>
    </header>