/* --- theme.css fix  --- */
// These styles should eventually be added to core.css

@import "../../../scss/utilities/variables";
@import "../../../scss/utilities/mixins";

$dark-blue: #2B313C;

.main-nav {
  position: relative;
  z-index: 1;  
}

// < 320
@media (max-width: $break-tiny-phone) {
  
  
  .site-logo {
    img {
      max-width: 100px;
    }
  }

}

// > 320
@media (min-width: $break-tiny-phone) and (max-width: $break-800) {
  
  .site-logo {
    flex: 1 0 80%;
  }
  
  .nav-toggle {
    flex: 1 0 20%;
  }
  
}

// < 800
@media (max-width: $break-800) {
  
  .site-header {
    background: $dark-blue;
  }
  
}

// > 800
@media (min-width: $break-800) {
  
  .main-nav {
    position: absolute;
    height: 115px;   
  }
  
  .fixed-header {
    padding-top: 165px; 
  }
  
  .nav-collapse>ul {
    max-width: 31.25em;
    width: 100%;  
  }
  
  .js-nav .nav-collapse, .nav-collapse {
    justify-content: flex-end;
    padding-right: 15px;  
  }
  
}

// < 1000px
@media (max-width: 62.500em) {
  .nav-collapse>ul {
   // width: 100%;  
  }
}
