.contact-form {
  //display: none;
  [data-scroll-id="contact"] & {
    display: block;
  }
  input,
  textarea {
    font-family: $sans-serif;
  }
  // > 667
  @media (min-width: $break-640) {
    .form-wrap {
      display: flex;    
      align-items: stretch;
    }
    .form-group {        
      display: flex;
      flex-grow: 1;
      width: 50%; 
      &:nth-child(2n) {
        padding-right: 1rem;
        .input-row {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          //height: 100%; 
        }
        label {
          //flex-grow: 0;
        }
        textarea {
          flex-grow: 1;
          //height: 87%;  
          //height: calc(100% - 1.5rem);
        } 
      }
      &:nth-child(3n) {
        padding-left: 1rem;  
      }
    }
  }
  // > 768
  @media (min-width: $break-768) {
    .form-group {
      &:nth-child(2n) {
        width: 60%;
      }
      &:nth-child(3n) {
        width: 40%; 
      }
    }
    .submit-input {
      @include flex;
      //@include jc-end;
    }
  }
}