.contact-form {
  //display: none;
  [data-scroll-id="contact"] & {
    display: block;
  }
  input,
  textarea {
    font-family: $sans-serif;
  }
  // > 667
  @media (min-width: $break-640) {
    .form-wrap {
      display: flex;    
      align-items: stretch;
    }
    .form-group {        
      display: flex;
      flex-grow: 1;
      width: 50%; 
      .input-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .form-group-left {
      padding-right: 1rem;
      .input-row {
        @include mb-2;
      }
    }
    .form-group-right {
      padding-left: 1rem;
      textarea {
        flex-grow: 1;
      }
      .input-row {
        @include mb-0;
      }
    }
    .submit-input {
      @include flex;
      @include jc-end;
    }
  }
  // > 768
  @media (min-width: $break-640) {
    .form-group-left {
      width: 45%;
      .input-row:last-child {
        @include mb-0;
      }      
    }
    .form-group-right {
      width: 55%; 
    }
    .submit-input {
      
      //@include jc-end;
    }
  }
}

.req-mark {
  color: #999;
}