// icon nav
.icon-nav {
  nav {
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: .75rem;
  }
  a {
    margin: 0;
  }
  .icon {
    margin-left: 0;
    margin-right: 0;
  }
  .icon-mobile {
    font-size: 1.35rem;
  }
  a:hover .icon,
  a:focus .icon {
    fill: hotpink;
    transform: scale(1.3);
  }
  .tooltip {
    left: calc(50% - 45px);
    padding-right: .25rem;
    padding-left: .25rem;
    text-align: center;
    white-space: pre;
    width: 90px;
  }
  // 480
  @media (min-width: $break-480) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    h2 {
      margin-bottom: 0;
    }
    li {
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 1.25rem;
    }
  }
}