// .home {
//   @include bg-green;
//   .site-header, .banner {
//     @include bg-white;
//   }
// }

// .portfolio {
//   @include bg-red-pink;
//   .site-header, .banner {
//     @include bg-white;
//   }
// }

.banner {
  //@include banner;
}

.banner-headline {
  @include fade-in;
  .container {
    max-width: 100%;
  }
  h1 {
    font-size: 4.75em;
  }
  .sub-header {
    line-height: 2.85rem;
    max-width: 30em;
    a {
      background-image: none;
      background-color: rgba(black, .25);
      padding-right: .25em;
      padding-left: .25em;
      text-shadow: none;
    }
  }
}