// Main Navigation Styles

.main-nav {
  margin-bottom: 2rem;     
  text-align: center;
  > a {
    color: #333;
    background: #CCC;
    font-weight: 500;
    font-size: 1rem;
    margin-right: 0;  
    margin-left: 0;  
    padding: 1rem .25rem;   
    text-transform: uppercase;
    transition: background .3s ease;
    vertical-align: top;
    width: 100%;  
    -webkit-font-smoothing: antialiased;
    &:hover {
      background: #BBB;
    }
    // font type
    @include fonts-loaded-KO29;
    .fonts-loaded & {
      font-size: 1.25rem;
    } 
  }
  // < 180
  @media (max-width: 11.25em) {
    > a {
      border-bottom: 1px solid #BBB;
    }
  }
  // > 180 ~ 375
  @media (min-width: 11.25em) and (max-width: $break-375) {
    > a { 
      width: 50%;
      &:nth-child(3),
      &:nth-child(4) {
        border-top: 1px solid #BBB;
        border-bottom: 1px solid #BBB;
      }
      &:nth-child(odd) {
        border-right: 1px solid #BBB;
      } 
    }
  }
  // > 375
  @media (min-width: $break-375) {
    > a {
      border-right: 1px solid #BBB;
      border-bottom: 1px solid #BBB; 
      width: 25%;
      &:last-child {
        border-right: none;
      } 
    }
  }
  // > 375 - 667
  @media (min-width: $break-375) and (max-width: $break-ml-phone - .01em) { 
    display: flex;
  }
  // > 667
  @media (min-width: $break-ml-phone - .01em) {
    margin-bottom: 0;  
    > a {
      border-bottom: none;
      padding: 1rem;  
    }
  }
  // > 768
  @media (min-width: $break-lg-phone) {
    > a {
      padding: 1.5rem 1rem; 
    }
  }
  // > 1200
  @media (min-width: $break-lg-screen) {
    > a {
      .fonts-loaded & {
        font-size: 1.5rem;
      }
    }
  }
}