// site copyright

.copyrights {
  p {
    margin-bottom: 0;
    a {
      background: none;
      color: currentColor;
      text-decoration: none;
    }
  }
  p,
  a {
    font-size: .75em;
    font-family: $sans-serif;
  }
  p,
  .source-link {
    color: #999;
  }
  // 480 
  @media (min-width: $break-240) {
    display: flex;
    align-items: center;
    .source-link {
      margin-left: auto;
    }
  } 
}

a.top-anchor {
  background-color: mix(black, $link, 25%);
  color: #FFF;
  font-size: .7em;
  letter-spacing: .04em;
  line-height: 1.2;
  margin-left: .5rem;
  padding: 0 .25em;
  text-transform: uppercase;
  text-shadow: none;
  &:hover,
  &:focus {
    background-color: hotpink;
    color: #FFF;
  }
}