// Site Title

.site-header {
  display: flex;
  flex-direction: column;
  //margin-bottom: 3rem;
  position: relative;
  transition: height .4s ease;
  //height: 100vh;
  width: 100%;
  z-index: 2;
  @media (min-width: $break-ml-phone - .01em) {
    //height: 30vh;
  }
  @media (min-height: 45em) {
    //height: 30vh;
  }
  @media (min-width: $break-ml-phone) {
    //height: auto;
  }
}

.site-title {
  //background-color: #1e6c67;
  // background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23FFFFFF' fill-opacity='0.05'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(135deg, #40a59f 0%,#1e6c67 100%);
  //background: linear-gradient(135deg, #40a59f 0%,#1e6c67 100%);
  //background-blend-mode: multiply;
  //background: linear-gradient(45deg, #518c54 0%,#6bba70 100%);
  display: flex;
  align-items: center;  
  flex-grow: 1;
  //margin-top: auto; 
  //margin-bottom: auto;
  min-width: 0;
  min-height: 0;
  padding-top: 3em;
  padding-right: 2em; 
  padding-bottom: 1em;
  padding-left: 2em;
  width: 100%;
  &:focus a {
    outline: -moz-focus-ring-color auto 5px;
    outline: -webkit-focus-ring-color auto 5px;
  }   
}

// Logo

.alt-logo,
.main-logo {
  display: block; 
  margin-right: auto;
  margin-left: auto;
  max-height: 3.125em;
  min-height: 2em;  
  max-width: 15rem;      
  width: 100%;
}

.alt-logo {
  display: none; 
  fill: white;  
  // > 240 ~ < 667
  @media (min-width: $break-240) and (max-width: $break-ml-phone - .01em) {
    display: none;  
  } 
  @media (min-width: $break-ml-phone) {
    display: block;
  } 
}

%logo-icon-left { 
  fill: $light-tan;
  fill: white;
}

%logo-icon-right { 
  fill: $med-green;
  fill: #DDD;
}

// Main logo

.main-logo {
  display: block;
  // > 240 ~ < 667
  @media (min-width: $break-240) and (max-width: $break-ml-phone - .01em) {
    //display: block;  
  }
  @media (min-width: $break-ml-phone) {
    display: none;
  }
}

// SVG path

.svg-logo-path {
  fill: white;
}

// layout styles

// > 667
@media (min-width: $break-ml-phone) {
  .main-menu {
    display: flex;
    flex-direction: row;
    min-height: 0;
    margin-bottom: 0;
  }
  .site-title {
    flex-grow: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 33%;
  }
  .main-nav {
    align-items: center;
    flex-grow: 1;
  }
  
}
 // > 768
 @media (min-width: $break-lg-phone) {
  .main-nav {
    justify-content: flex-end;
  }
}

// > 900
@media (min-width: $break-900) {
  .site-title {
    max-width: 15em;
    width: 100%;
  }
}

