// site copyright

p.copyrights {
  color: #999;
  display: block; 
  font-size: .75em;
  font-family: $sans-serif;
  margin-bottom: 0;
  a {
    color: currentColor;
    text-decoration: underline;
  } 
}