/* --- theme.css fix  --- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.main-nav {
  position: relative;
  z-index: 1;
}

@media (max-width: 20em) {
  .site-logo img {
    max-width: 100px;
  }
}
@media (min-width: 20em) and (max-width: 50em) {
  .site-logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 80%;
        -ms-flex: 1 0 80%;
            flex: 1 0 80%;
  }

  .nav-toggle {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 20%;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
  }
}
@media (max-width: 50em) {
  .site-header {
    background: #2B313C;
  }
}
@media (min-width: 50em) {
  .main-nav {
    position: absolute;
    height: 115px;
  }

  .fixed-header {
    padding-top: 165px;
  }

  .nav-collapse > ul {
    max-width: 31.25em;
    width: 100%;
  }

  .js-nav .nav-collapse, .nav-collapse {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 15px;
  }
}
