/* --- Compact Form --- */

.compact-form {
	background-color: white;
	border-radius: 10px;
	max-width: 550px;
	margin: 0 auto;		
	.form-header {
		color: white;
		background-color: $orange-light;
		border-radius: 10px 10px 0 0;
		font-size: 1.2em;	
		padding: 0.875em;	
		text-align: center;	
	}
	.form-group {
  	display: flex;
  	flex-flow: row wrap;
  	justify-content: center;
  	padding: 0.875em;
  	textarea {
  		min-height: 100px;	
  		padding: 0.5em;
  		text-transform: uppercase;		
  	}
  	.btn-submit-sm {
  		background-color: $orange-light;
  		border: none;
  		color: white;
  		margin-top: 1em;	
  		width: 100%;		
  	}	
  	.branch-select {
  		margin-bottom: 1em;	
  		select {
  			max-width: 175px;
  		}
  	}
  	// 568
  	@media (min-width: $break-md-phone) {
  		padding: 1em 1.75em;	
  		input {
  			flex: 1 0 48%;
  		}
  		input[placeholder="First"],
  		input[placeholder="E-Mail"] {
  			margin-right: 0.25em;	
  		}
  		input[placeholder="Last"],
  		input[placeholder="Phone"] {
  			margin-left: 0.25em;	
  		}
  		textarea {
  			min-height: 150px;	
  		}
  		.form-button {
  			display: flex;
  			flex: 1 0 100%;
  			justify-content: flex-end;
  		}
  		.btn-submit-sm {
  			flex: 0 0 auto;
  			padding: 0.5em;
  			width: auto;			
  		}	
  		.branch-select {
  			select {
  				max-width: 100%;
  			}
  		}
  	}
  }
	// 568
	@media (min-width: $break-md-phone) {
		.form-header {
			font-size: 1.7em;	
			padding: 0.5em 0.875em;	
		}
	}	
}