.table-list {
	margin: 0;	
	padding-left: 0;	
}

/* --- Contact Banner --- */

.contact-banner {
	background-color: $blue-med;
	color: white;
	text-align: center;
	.wrap {
		padding: 2em 0.75em;
		margin: 0 auto;
		max-width: 1200px;			
	}
	a {
		color: white;
	}
	// 768
	@media (min-width: $break-lg-phone) {
		.wrap {
			display: flex;
			justify-content: center;
			font-size: 1.15em;	
		}
	}			
}

.contact-banner-item {
	display: inline-block;
	margin-bottom: 2.5em;			
	width: 100%;
	h2 {
		font-size: 1.5em;
		margin-bottom: 0.5em;		
		span {
			display: block;
			font-size: 2em;	
			margin-bottom: 0.25em;		
		}	
	}
	address,
		ul,
		a {
			font-family: $Montserrat	;
			text-transform: uppercase;
		}
	&:last-child {
		margin-bottom: 0;	
	}
	// 480
	@media (min-width: $break-sm-phone) {
		padding-right: 0.875em;
		padding-left: 0.875em;
	}
	// 667
	@media (min-width: $break-ml-phone) {
		width: 33.33333333%;	
	}
	// 900
	@media (min-width: 900px) {
		padding-top: 1em;	
		h2 {
			margin-bottom: 1em;
			width: 100%;		
			span {
				display: inline;
				font-size: 1em;
				padding-right: 0.25em;
				&.icon-phone-circled {
					font-size: 0.8em;
					padding-left: 1.1em;		
				}			
			}
		}
		address,
		ul {
			text-align: left;
			padding-left: 6em;	
		}	
	}
}