/* -- Content Posts  -- */

.content-post-wrap {
  @extend .container;  
  .content-post:nth-child(1n) .lazyloaded {
		transition-delay: 100ms;
  }
  .content-post:nth-child(2n) .lazyloaded {
		transition-delay: 200ms;
	}
  .content-post:nth-child(3n) .lazyloaded {
		transition-delay: 300ms;
	}
	.content-post:nth-child(4n) .lazyloaded {
		transition-delay: 400ms;
  }
  .content-post:nth-child(5n) .lazyloaded {
		transition-delay: 500ms;
	}
  .content-post:nth-child(6n) .lazyloaded {
		transition-delay: 600ms;
	}
	.content-post:nth-child(7n) .lazyloaded {
		transition-delay: 700ms;
  }
  .content-post:nth-child(8n) .lazyloaded {
		transition-delay: 800ms;
	}
  .content-post:nth-child(9n) .lazyloaded {
		transition-delay: 900ms;
	}
	.content-post:nth-child(10n) .lazyloaded {
		transition-delay: 1000ms;
  }
  .content-post:nth-child(11n) .lazyloaded {
		transition-delay: 1100ms;
	}
  .content-post:nth-child(12n) .lazyloaded {
		transition-delay: 1200ms;
	}
	.content-post:last-child {
  	padding-bottom: 0;  
	}
	//@include no-flexbox; 
}

// Content Post

.content-post {
  display: flex;
  align-items: center;
  flex-flow: column-reverse;
  padding: 1em 0;
  text-align: center;
  .button-group [class*="btn-"],
  [class*="btn-"] {
    font-size: 0.875em;
    margin-right: auto; 
    margin-left: auto;
    &:last-child {
		  margin-bottom: 0;
	  }     
  }
}

.post-wrap {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;      
}
    
.post-content {
  font-size: 1.2em; 
  margin-bottom: 1em;
  text-align: center;
}

.post-media {
  display: flex;
  font-size: 1.2em;
  flex-flow: row wrap;
  width: 100%;
  .video-player {
    margin-bottom: 1em; 
  }
  .button-group {
    margin-bottom: 0;  
  }
  @include no-flexbox; 
}

.post-list {
  display: inline-block;  
  font-size: 0.75em;
  margin: 0 auto 1em;       
  padding-left: 1em;
  text-align: left; 
  li {
    margin-bottom: 0.5em;
  } 
}

.post-title {
  font-size: 1.5em;
}

.post-title-icon {
  display: block;  
  max-width: 100px;
  margin: 0 auto 0.25em;  
}

.post-txt {
  font-size: 0.8em; 
}

// 320
@media (min-width: $break-tiny-phone) {
  .content-post {
    .button-group [class*="btn-"],
      [class*="btn-"] { 
      max-width: 200px;  
    }
  }
}
// 480
@media (min-width: $break-sm-phone) {
  .post-list {
    text-align: center; 
  }
}
   
// 540
@media (min-width: $break-md-phone) {
  .content-post {
    padding: 1.5em 0;
    [class*="btn-"] {
      margin-bottom: 0;
    }
    .button-group {
      [class*="btn-"] {
        &:first-child {
          margin-right: 0.5em;
          margin-left: 0;             
        }
        &:last-child {
          margin-right: 0;
          margin-left: 0.5em;   
        }
      }
    } 
  }
}

// 768
@media (min-width: $break-lg-phone) {
  .post-wrap {
    flex-flow: row-reverse;
  }
  .post-media {
    figure,
    .video-player {  
      margin-bottom: 0; 
    }
  } 
  .post-media,
  .post-content {
    width: 50%; 
  }
  .post-media {
    .button-group,
    [class*="btn-"] {
      display: none; 
    }
  }
  .post-content {
    align-self: center;
    font-size: 1.1em;
    margin-bottom: 0;  
    padding-left: 1.25em;
    .button-group {
      display: flex;
    }
    [class*="btn-"] {
      display: inline-block; 
    }  
  }
  .post-title {
    font-size: 1.75em;  
  }
  .post-txt {
    padding-right: 1em;
    padding-left: 1em;
  } 
}

// 992
@media (min-width: $break-md-screen) {
  .post-content {
    font-size: 1.25em;
    padding-left: 2em;
  }
}