// Content Image Styles

figure {
	line-height: 0;		
	position: relative;
	overflow: hidden;			
	width: 100%;
	transition: all 400ms ease;
	img {
  	opacity: 0; 
	}
	// Image Caption
	figcaption {
  	line-height: 1.2;
    text-align: left; 
		background-color: rgba(0,0,0,0.75);
		color: #f5f5f5;
		display: flex;
		align-items: center;
		justify-content: center;				
		height: auto;
		opacity: 0;	
		overflow: hidden;
		padding: 0.875em;
		position: absolute;
		bottom: 0;			
		width: 100%;
		transition: 
		  opacity 400ms ease, 
		  bottom 500ms ease,
		  left 500ms ease;
		p {
  		margin-bottom: 0; 
		}
		.image-caption {
			align-self: flex-end;
			font-family: $Montserrat;		
			font-size: 1em;
			line-height: 1;
			margin-bottom: 0;
			transition: opacity 500ms ease;
			a {
				color: white;
				text-decoration: underline;
			}		
		}
		// Image Caption Animation Styles
		&.slide-up {
			bottom: -100%;
			justify-content: center;
			opacity: 0;
			padding: 1.5em 1em;
			.image-caption {
				align-self: center;		
				font-size: 1.125em;
				transition: font-size 500ms ease;	
			}
			&:hover {
				.image-caption {
						
				}
			}
		}
		&.slide-left {
			left: -100%;
			top: 0;
			justify-content: center;
			opacity: 0;
			padding: 1.5em 1em;
			.image-caption {
				align-self: center;		
				font-size: 1.5em;
				transition: font-size 500ms ease;	
			}
		}
		&.zoom-in {
			justify-content: center;
			opacity: 0;
			padding: 1.5em 1em;				
			top: 0;
			.image-caption {
				align-self: center;		
				font-size: 0.7em;
				transition: font-size 500ms ease;	
			}
			&:hover {
				.image-caption {
					font-size: 1.5em;	
				}
			}
		}
	}	
	// Circle Thumbnail
	&.circle-thumb {
		@include circle-thumb;
		figcaption {			
			justify-content: center;				
			padding: 1em 2em 2em;
			text-align: center;
			a {
				display: flex;
			}		
			.image-caption {
				float: none;
				font-size: 1.25em;		
				text-align: center;	
			}
			&.slide-left,
			&.zoom-in {
				@include circle-thumb;
				height: 100%;
				width: 100%;  
				display: flex;				
				padding: 0;
			}
			&.zoom-in {
				.image-caption {
					//font-size: 1em;	
				}
				&:hover {
					.image-caption {
						//font-size: 3.5em;	
					}
				}
			}
			&.slide-up,
			&.slide-left {
				opacity: 1;
			}
		}
		// 600
		@media (min-width: 600px) {
			&.md-size {
				@include circle-thumb-md;
				figcaption {
					position: absolute;
					padding: 1.5em 2em 3em;
					.image-caption {
						font-size: 1.25em;	
					}
				}	
			}
			&.sm-size {
				@include circle-thumb-sm;
				figcaption {
					position: absolute;
					padding: 0.5em 2em 1em;		
					.image-caption {
						font-size: 1em !important;	
					}
				}
			}
		}
		// 768
		@media (min-width: $break-lg-phone) {
			figcaption {
				padding: 3em 3em 4em;
				.image-caption {
					font-size: 2em;	
				}
				&.zoom-in {
					&:hover {
						.image-caption {
							font-size: 3.5em;	
						}
					}
				}
			}	
		}
	}
	// Rounded Thumbnail
	&.rounded-thumb {
		@include rounded-thumb;
		figcaption {
			border-radius: 0 0 0.938em 0.938em;
			height: auto;
			position: absolute;
			&.zoom-in,
			&.slide-left {
				border-radius: 0.938em;
			}
			&.slide-left,
			&.slide-up {
				opacity: 1;
			}
		}
		&.sm-size {
			figcaption {
				position: absolute;
			}	
		}
	}	
	// Banner Image
	&.banner {
		img {
			min-width: 100%;  
		}
	}
	// Rollover
	&:hover {
		//cursor: pointer;
		figcaption {
			bottom: 0;
			left: 0;
			opacity: 1;
		}
	}	
	// 600
	@media (min-width: 600px) {
		// Figure Sizes
		&.md-size,
		&.sm-size {
			float:left;
			margin: 0 0.938em 0.938em 0;			
		}
		&.md-size {
			width: 50%;	
		}
		&.sm-size {
			width: 30%;
			figcaption {
				justify-content: center;
				position: relative;	
			.image-caption {
				float: none;	
				text-align: center;	
				}	
			}	
		}
		// Image Caption
		figcaption {
			// Zoom
			&.zoom-in {				
				.image-caption {
					font-size: 0.7em;
				}
				&:hover {
					.image-caption {
						font-size: 2em;	
					}
				}
			}
			// Slide Left
			&.slide-up,
			&.slide-left {
				.image-caption {
					font-size: 1.5em;	
				}
			}			
		}		
	}
	// 992
	@media (min-width: $break-900) {
		&.md-size {
			 width: 53.5%;
		}
		&.sm-size {
			// width: 35%;
			figcaption {
				position: absolute;	
			}	
		}
		figcaption {
			.image-caption {
			}	
		}
	}
}