/* --- Feature Posts --- */

.feature-post {
  @include mod-block;
  .post-content {
    .button-group,
    [class*="btn-"] {
      display: none;  
    }
  }
  // 768
  @media (min-width: $break-lg-phone) {
    .post-content {
      .button-group {
        display: flex;
        [class*="btn-"] {
          margin-bottom: 0; 
        }
      }
      [class*="btn-"] {
        display: inline-block;  
      }
    }
    .post-media {
      .button-group,
      [class*="btn-"] {
        display: none;  
      }
    }
  }
}

.feature-posts {
  @include mod-block;
  @extend %post-grid;
  .post-media {
    .button-group,
    [class*="btn-"] {
      display: none;  
    }
  }
}

/* --- About DPI  --- */

.about-DPI {
  @include mod-block;
  .content-post-wrap {
    max-width: 100%; 
    padding: 0;  
  }
  .post-wrap {
    flex-flow: column;
    margin: 0 auto;
    max-width: 75.00em; // 1200px       
  }
  .content-post {
    padding: 2em 1em 0;
    &:nth-child(2) {
      background: linear-gradient(to bottom, rgba(190,220,233,1) 0%,rgba(220,236,243,1) 47%,rgba(248,251,253,1) 100%);
    }
    &:nth-child(3) {
     background: url('images/content-img/bg-Publish-Site.png') repeat; 
    }   
  }
  .post-content {
    margin-bottom: 0;
    .button-group,
    [class*="btn-"] {
      display: none;  
    } 
  }     
  .post-media {
    flex-flow: column-reverse;
    figure {
      margin-bottom: 0; 
      max-width: 600px;  
    }
    [class*="btn-"] {
      margin-bottom: 1em; 
    }
  }
  // 768
  @media (min-width: $break-lg-phone) {    
    .content-post {
      flex-flow: row wrap; 
      padding-bottom: 0;
      &:nth-child(1) {
        padding-top: 0; 
      }   
      &:nth-child(2) {
        padding-top: 0;         
        .post-wrap{
          flex-flow: row wrap;
        }
        .post-media {
          align-self: flex-end;
          padding-top: 0; 
          padding-right: 1em;
          figure {
            max-width: 800px; 
          } 
        }
        .post-content {
          margin-bottom: 0;  
          padding-right: 1em; 
          padding-left: 0;  
        }
      }
    }
    .post-wrap {
      flex-flow: row-reverse wrap;
    }
    .post-content {
      [class*="btn-"] {
        display: block; 
      }
    }
  }
  // 900
  @media (min-width: $break-900) {
    .content-post {
      &:nth-child(2) {
        padding-top: 2em; 
        .post-content {
          padding: 0 1em 1.25em 0; 
        }
      }
    }    
  }
  // 992
  @media (min-width: $break-md-screen) {
    .content-post {
      padding-top: 2em;
      &:nth-child(1) {
        padding-top: 0; 
      }
    }
  }
  // 1200
  @media (min-width: $break-lg-screen) {
    .content-post {
      &:nth-child(2) {
        padding-top: 3em; 
      }      
    }
    .post-media {
      figure {
        min-width: 100%; 
      } 
    }
    .post-content {
      padding-left: 0;
    }
    .post-title-icon {
      max-width: 125px;
    }
    .post-txt {
      padding-right: 3em;
      padding-left: 3em;
    }
  }
  // 1600
  @media (min-width: $break-xl-screen) {
    .post-content {
      font-size: 1.45em; 
    }    
  }
}

/* --- Video CTA --- */

.video-CTA {
  @include mod-block;
  .content-post {
    //padding: 0; 
  }
  .post-content {
    [class*="btn-"] {
      display: block; 
    }
  } 
  .post-media {
    margin: 0 auto;
    width: 100%;
    .button-group,
    [class*="btn-"] {
      display: none;  
    } 
	}
	// 667
	@media (min-width: $break-lg-phone) {
    text-align: left;
	}
	// 768
	@media (min-width: $break-lg-phone) {
  	.post-content {
      width: 40%;   
    }
    .post-media {
      display: inline-block;
      width: 60%; 
    }
	}
	// 1200
	@media (min-width: $break-lg-screen) {
    .post-txt {
      padding-right: 1.5em;
      padding-left: 1.5em;  
    }
	} 
}