/* --- Give Selection --- */

.give-selection {
	@include mod-block;
	background: url("../images/bg-img-temp1.jpg") no-repeat center top;
	background-size: cover;
	text-align: center;
	.sub-header {
		margin-bottom: 3em;	
	}
	p {
		color: $brand-gray;
		font: 1.2em $Montserrat;
		margin-bottom: 0;	
		padding: 1em 0;
		text-transform: uppercase;	
	}
	.btn-submit {
		background-color: $blue-med;
		font-size: 1em;
		max-width: 150px;		
	}
}

.give-amount {
	background-color: $blue-med;
	border-radius: 5px;
	color: white;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	font-size: 1.2em;	
	font-family: $Montserrat;
	max-width: 300px;
	margin: 0 auto;		
	padding: 0.5em 1em;
	width: 100%;			
	input[type="text"] {
		background: none;
		border: none;
		color: white;
		margin: 0;	
		text-align: center;	
	}
	::-webkit-input-placeholder {
	   color: white;
	}	
	:-moz-placeholder { /* Firefox 18- */
	   color: white;  
	}	
	::-moz-placeholder {  /* Firefox 19+ */
	   color: white;  
	}	
	:-ms-input-placeholder {  
	   color: white;  
	}
}

// Give Options 

.give-options {
	margin-bottom: 1.5em;
	.give-option {
		background-color: white;
		border: 1px solid #DDD;
		border-radius: 15px;
		display: inline-block;
		margin-bottom: 1.25em;
		width: 65%;		
		figure {
			margin-bottom: 0;
			padding: 1em;		
		}	
		img {
			width: 100%;
		}
	}
	// 568
	@media (min-width: $break-md-phone) {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		margin: 0 auto;	
		max-width: 850px;
		padding-top: 1.5em;
		padding-bottom: 1.5em;	
		width: 100%;	
		p {
			font-size: 1em;
			padding: 0.5em;
			width: auto;	
		}
		.give-option {
			flex: 1;
			line-height: 0;
			margin: 0 0.5em;
			width: 100%;	
			figure {
				padding: 0.5em;	
			}
		}
	}	
}

.give-option {
	// 568
	@media (min-width: $break-md-phone) {
		
	}	
}