/* --- Image Grid --- */

.grid-wrap {
	@include mod-block;	
	display: inline-block;	
	margin: 0 auto;
	text-align: center;
	width: 100%;			
	.grid-item {
		display: inline-block;
		padding: 0.25em 0;		
		width: 100%;	
	}
	// 480
	@media (min-width: $break-sm-phone) {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		.grid-item {
			padding: 0.125em 0.25em; 	
			width: 48%;	
		}	
	}
	// 667
	@media (min-width: $break-ml-phone) {
		margin: 0 auto;		
		padding-right: 1em;
		padding-left: 1em;	
		.grid-item {			
			flex:1 0 32.33333333%;
			padding: 0.25em 0.5em;	
		}
	}
	// 768
	@media (min-width: $break-lg-phone) {
		.grid-item {
			flex: 1 0 24%;	
		}	
	}
	// 992
	@media (min-width: $break-md-screen) {
		.grid-item {
			flex: 1 0 16.45%;
		}
	}
}