/* --- Info Posts --- */

.info-posts {
  @include mod-block;
  .post-wrap {
    flex-flow: column-reverse;
  }
  .post-content {
    [class*="btn-"] {
      display: block; 
    }
  }
  .post-media {
    .button-group,
    [class*="btn-"] {
      display: none;
    }
  }
  .post-txt {
    padding: 0; 
  }
  figcaption {
    display: none;  
  }
  // 540
  @media (min-width: $break-md-phone) {

  }
  // 667
  @media (min-width: $break-ml-phone) {
    .content-post {
      flex-flow: row wrap;
      [class*="btn-"] {
        margin-right: 0;
        margin-left: 0; 
      }
    }
    .post-wrap {
      align-items: flex-start;
      flex-flow: row-reverse;
    }
    .post-content {
      padding-left: 1em;
      padding-right: 0;   
      text-align: left;
      flex: none;
      width: 63%; 
    }
    .post-media {
      padding-right: 1em; 
      flex: none;
      width: 33%; 
    }
    .post-list {
      //font-size: 1em; 
      text-align: left;
      width: 100%;  
    }
  }
}