/* --- Location List  --- */

.location-list {
	padding: 1em 2em 5em;	
	margin: 0 auto;		
	.location {
		display: inline-block;
		padding: 0.875em 0;
		text-align: left;	 	
		width: 100%;	
	}
	.location-title {
		font-size: 1.125em;
		margin-bottom: 0.313em;
		span {
			float: left;
			margin-top: -3px;		
		}		
	}
	address {
		font-family: $Montserrat;
		padding-left: 1.6em;	
		text-transform: uppercase;
		a {
			color: $brand-black;
		}
	}
	// 667
	@media (min-width: $break-ml-phone) {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		max-width: 800px;	
		.location {
			padding: 0.875em 0.875em 1.2em;
			flex: 1 0 45%;		
		}
	}
	// 992
	@media (min-width: $break-900) {
		justify-content: center;
		padding-left: 5em;	
	}
}