/* --- Login Banner --- */

.login-banner {
	background-color: $brand-black;
	border-radius: 0.313em;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	padding: 0.875em 1em;
	max-width: 900px;
	margin: 0 auto;	
	.login-banner-img {
		align-self: flex-start;
		line-height: 0;	
		margin-bottom: 0.5em;
		text-align: center;	
	}
	p {
		font-family: $Montserrat;
		line-height: 1;	
		margin-bottom: 0.5em;
		text-align: center;
		width: 100%;		
	}
	// 480
	@media (min-width: $break-sm-phone) {
		& > * {
			flex: auto;
		}
		.login-banner-img {
			flex: 100%;	
		}
		& input:nth-child(2) {
			margin-right: 0.313em;	
		}
		& input:nth-child(3) {
			margin-left: 0.313em;	
		}
		input[type="text"],
		input[type="password"],
		input[type="email"] {
			width: auto;
		}	
		/*
		input[placeholder="username"]
		input[placeholder="First Name"],
		input[placeholder="username"],
		input[placeholder="First Name"] {
			margin-right: 0.313em;	
		}
	*/
	}
	// 667
	@media (min-width: $break-640) {
		flex-flow: row nowrap;
		& > * {
			flex: 1;
			margin: 0 0.313em 0 0;
		}
		.login-banner-img {
			flex: auto;
			margin-bottom: 0;	
			width: 30px;	
		}
		p {
			margin-bottom: 0;
		}
		input[type="text"],
		input[type="password"],
		input[type="email"] {
			margin-bottom: 0;	
		}
		& input:nth-child(2) {
			margin-right: 0.313em;	
		}
		& input:nth-child(3) {
			margin-left: 0;	
		}
		input[type="submit"] {
			flex: 1 0 auto;
			margin-right: 0;
			padding-right: 1em;
			padding-left: 1em;	
			max-width: 125px;			
		}
	}
	// 768
	@media (min-width: $break-lg-phone) {
		& > * {
			margin-right: 0.875em;
		}
		.login-banner-img {
			flex: 0 0 auto;
			width: 200px;	
		}
		p {
			flex: 0 0 auto;
			width: 150px;	
		}
		& input:nth-child(2) {
			margin-right: 0.875em;	
		}
	}
}

// Signup Banner

.signup-banner {
	@extend .login-banner;
	background-color: white;
	// 480
	@media (min-width: $break-sm-phone) {
		& input:nth-child(2) {
			margin-left: 0;	
			margin-right: 0;	
		}
		& input:nth-child(3) {
			margin-left: 0.313em;
			margin-right: 0;	
		}
		&.e-news {
			& input:nth-child(3) {
				margin: 0;	
			}
		}
	}
	// Breakpoint
	@media (min-width: 642px) {
		& input:nth-child(2) {
			margin-right: 0.313em;	
		}
		&.e-news {
			& input:nth-child(2) {
				margin-right: 0;
			}	
		}
	}
	// 667
	@media (min-width: $break-640) {
		& input:nth-child(3) {
			margin-right: 0.313em;
			margin-left: 0;		
		}
		&.e-news {
			& input:nth-child(2) {
				margin-right: 0.313em;	
			}
			& input:nth-child(3) {
				margin-right: 0;	
			}
		}
	}
	// 768
	@media (min-width: $break-lg-phone) {
		& > * {
			margin-right: 0.313em;
		}
	}
}