/*--- Video Player ---*/

.video-player {	
	position:relative;
	line-height: 0; 
	height:0;
	padding-bottom: 56.25% !important;
	width:100%;
	> * {
		display: inline-block;
		position:absolute;
		margin: 0;
		height:100%;
		width:100%;
		top:0;
		left:0;
	}
	iframe {
		@include media-box;
	}
}

// Embedded Map

.google-map {
	display: block;
	@include mod-block;
	height: 100%;
	#map-canvas {
		height: 100%;
		width: 100%;		
	}	
}