// Search Bar 

.search-bar {
/*
	align-self: center;
	display: flex;
	flex-wrap: row nowrap;
	height: 30px;	
*/
	input[type="text"] {
		//border: none;
		border-radius: 0;
		color: $brand-black;
		margin-bottom: 0;
		width: 80%;			
	}
	input[type="submit"] {
		background: #CCC;
		border-radius: 0;
		font-family: $font-icon;
		width: 20%;	
	}
	// 667
	@media (min-width: $break-ml-phone) {
		max-width: 300px;
	}
}