/* --- Slidebars Menu --- */

// content overlay

body {
  &:before {
    background: rgba(black, 0.9);
    content: '';
    height: 100%;
    width: 100%;  
    opacity: 0;
    transition: opacity 500ms ease;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 2;   
  }
}

.sb-active {
  overflow: hidden;
  body {
    &:before {      
      opacity: 1; 
    }
  }
}

// Login Form Panel

.sb-left {
  background-color: $blue-med;
	display: block;
	position: fixed !important;  
	height: 0;
	margin-left: 0 !important;
	top: -250px;
	opacity: 0;
	transform: translate(0px) !important;	
	transition: height 500ms ease, top 500ms ease !important;
	width: 100% !important;
	&.sb-active {
		height: 100%;			
		top: 0;
		opacity: 1;		
	}
	// 569
	@media (min-height: $break-lg-phone + 1px) {
  	//max-height: 350px;  
	}
	// 768
	@media (min-width: $break-lg-phone) {
  	max-height: 400px;  
	}
	// 1200
	@media (min-width: $break-lg-screen) {
  	max-height: 450px;  
	}
}

// Main Menu Panel

.sb-right {
  position: fixed !important; 
  background-color: $blue-med;
  color: white;
  // 480
  @media (max-width: $break-sm-phone) {
    width: 100%;  
  }
  // 480 - 667
  @media (min-width: $break-sm-phone) and (max-width: $break-ml-phone) {
    width: 50%; 
  }  
  // 768
	@media (min-width: $break-lg-phone) {
  	.slidebar-close [class^="sb-toggle-"] {
      font-size: 1.5em;        
    }
	}
}

// Close Slidebar btn

.slidebar-close { 
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  text-align: right;
  width: auto;
  z-index: 9999; 
  [class^="sb-toggle-"] {
    background: shade($blue-dark, 90%);
    display: inline-block;  
    font: {
    	family: $OpenSans;
    	size: 1.25em;
    	weight: 700;
    }
    padding: 0.25em 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 400ms ease;
    span {
      color: lighten(#11435c, 10%);
      &:before {
        color: shade($blue-dark, 70%);
        font-size: 1.75em;
        line-height: 1.25em;  
        margin: 0;
        transition: all 400ms ease;  
      }
    }  
  }
  &:hover,
  &:focus {
    [class^="sb-toggle-"] {
      background: #EEE;
      span {
        &:before {
          //content: '\e805';
          color: darkRed;
        }
      }
    }
  }
  // 480
  @media (min-width: $break-sm-phone) {
    [class^="sb-toggle-"] {
      font-size: 1em;        
    }
  }
}

/* --- Sliderbars Main Menu --- */

.sb-main-menu {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%; 
  width: 100%;
  text-align: center; 
  ul {
    display: flex;
    align-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    margin: 0;  
    padding: 0;
    li {
      display: flex; 
      width: 100%;
      a {
        background-color: $blue-med;
        color: white;
        font: {
        	family: $Montserrat;
        	size: 1.25em;
        	weight: 700;
        }
        padding: 1em 0;
        text-transform: uppercase;
        transition: all 400ms ease;
        width: 100%;   
      }
      &:hover,
      &:focus {
       a {
          background-color: darken($blue-med, 8%);
        }
      }  
    } 
  }
  // 481px
  @media (max-height: $break-sm-phone + 1px) {
    ul {
      li {
        a {
          font-size: 1.1em;
          padding: 0.4em 0;  
        } 
      }
    }  
  }
  // 540
  @media (min-width: $break-md-phone) {
   ul {
      li {
        a {
          font-size: 1.35em; 
        } 
      }
    } 
  }
  // 667
  @media (min-width: $break-ml-phone) {
    ul {
      li {
        a {
          font-size: 1.5em; 
        } 
      }
    }
  }
  // 768
  @media (min-width: $break-lg-phone) {
    ul {
      li {
        a {
          font-size: 1.875em; 
        } 
      }
    }
  }
  // 1200
  @media (min-width: $break-lg-screen) {
    ul {
      li {
        a {
          font-size: 2em; 
        } 
      }
    }
  } 
}