/* --- Staff Callout  --- */

.staff-callout {
	@include mod-block;		
}

.staff-callout-post {	
	margin: 0 auto;
	// 568
	@media (min-width: $break-md-phone) {
		align-items: flex-start;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	// 768
	@media (min-width: $break-lg-phone) {				
		max-width: 800px;
		padding-right: 2em;
		padding-left: 2em;		
	}	
}

// Staff Image Group

.staff-image-group {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	figure {
		border: 2px solid $blue-med;
		width: 40%;	
	}
	// 568
	@media (min-width: $break-md-phone) {
		flex: 1 0 40%;
		flex-flow: row wrap;
		padding-right: 1em;		
		figure {
			flex: 1 0 36%;
			margin-top: 0;
			margin-bottom: 1em;		
			&:nth-child(2n-3) {
				margin-right: 0.5em;	
			}
			&:nth-child(2n+2) {
				margin-left: 0.5em;	
			}
			&:nth-last-child(3n+2) {
				margin-bottom: 0;	
			}		
		}
	}
	// 768
	@media (min-width: $break-lg-phone) {
		flex: 1 0 35%;
		padding-right: 2em;	
		figure {
			max-height: 200px;
			max-width: 200px;	
		}	
	}
}

// Staff Job Callout

.staff-job-callout {
	@include mod-block;
}

.staff-job-btns {	
	margin: 0 auto;
	text-align: center;
	.btn {
		&:hover {
			transform: matrix(1, 0, 0, 1, 0, -05);
		}
		// 568
		@media (min-width: $break-md-phone) {
			margin-right: 0.25em;
			margin-left: 0.25em;
		}	
	}	
}