/* --- Template Preview --- */

.template-preview {
  @include mod-block;
  .content-post-wrap {
    padding-right: 1em;
    padding-left: 1em;  
  }
  figure {
    &:hover {
      .template-txt.lazyloaded {
        opacity: 1;
      }
    }
  }  
  .content-post {
    display: inline-block;
    flex: none;
    max-width: 100%;  
    padding: 0.25em 0;		
    width: 100%;
    figure {
      margin-bottom: 0; 
    }
  }
  .post-media {
    margin-bottom: 0; 
    width: 100%; 
  }
  // 480
	@media (min-width: $break-sm-phone) {
		.content-post {
  		padding: 0.125em 0.25em;
    }
	}
	// 667
	@media (min-width: $break-ml-phone) {			
		.content-post {
      padding: 0.25em 0.5em;
		  width: 50%;
		}
	}
  // 992
  @media (min-width: $break-md-screen) {
    .content-post-wrap {
      justify-content: flex-start;
      padding: 0;
       .content-post:nth-last-child(n+4), 
       .content-post:nth-last-child(n+4) ~ * {
        width: 33%;
      } 
	  }
	  .content-post {
      padding: 0.25em; 
      width: 33%;
	  }
  }
  // 1400
  @media (min-width: $break-lg-screen + 200px) {
    .content-post-wrap {
       .content-post:nth-last-child(n+4), 
       .content-post:nth-last-child(n+4) ~ * {
        width: 25%;
      }
    }
    .content-post {
      padding: 0.25em; 
      width: 25%;
	  }
  }
  @extend %post-grid;
}

// Template Text

.template-txt {
  align-content: center;
  font-size: 5vmin;
  flex-flow: column;
  height: 100%;
  opacity: 0;
  text-align: center;
  &.lazyloaded {
    opacity: 0;
  } 
  .btn-hero {
    display: block;
    margin-bottom: 0;   
    font-size: 0.6em;
    &:hover,
    &:focus {
      background: $blue-dark;
      border-color: transparent;
      box-shadow: none;
    } 
  }
  // 540
  @media (min-width: $break-md-phone) {
      font-size: 1.35em;
    .btn-hero {
      font-size: 0.5em; 
    }
  }
  // 667
  @media (min-width: $break-ml-phone) {
    font-size: 3vmin;
    .btn-hero {
      font-size: 0.5em; 
    }
  }
  // 992
  @media (min-width: $break-md-screen) {
    font-size: 2.5vmin;
    .content-post-wrap {
      justify-content: flex-start;
    }      
    .btn-hero {
      font-size: 0.45em;
    }
  }
}

// Template Title

.template-title {
  display: none;  
  font-size: 1.125em; 
  margin-bottom: 10px;
  text-transform: uppercase;
  // 320
  @media (min-width: $break-tiny-phone + 1px) {
    display: block;
  }
  // 540
  @media (min-width: $break-md-phone) {
    font-size: 1.35em;
  }
  // 667
  @media (min-width: $break-ml-phone) {
    font-size: 1em; 
  }
}


// Title Bar and Demo Buttons

.template-title-bar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0 1.25em;  
  .btn-info,
  .btn-demo {
    background-color: $link;
    font-size: 1.5em;
    margin: 0;  
    padding: 0 0.35em;  
    width: auto;
    span {
      display: none;  
    }
    i {
      &:before {
        font-size: 1.125em; 
        margin-right: 0;
        margin-left: 0;   
      }
    }  
  }
  .template-title {
    flex: 1 0 100%;
    font-size: 1.75em;
    margin: 0 0 0.5em;
    text-align: center;  
  }
  // 540
  @media (min-width: $break-md-phone) {
    justify-content: space-around;
    padding: 0.35em 0 1em;  
    width: auto;
    .template-title {
      flex: 1 0 0;
      font-size: 1.2em; 
      text-align: left; 
    }
   .btn-info,
   .btn-demo {
     font-size: 1em;
     margin: 0 0 0 0.313em;
     padding: 0 0.35em 0.1em 0.5em;  
      i {
        &:before {
          margin-top: 0.1em;     
        }
      }
    }
  }
  // 768
  @media (min-width: $break-lg-phone) {
   .btn-info,
   .btn-demo {
     span {
        display: inline;
        font-size: 0.9em;
      }   
    }
  }
  // 667
  @media (min-width: $break-ml-phone) {
    .template-title {
      font-size: 1em; 
    }
  }
  // 1600
  @media (min-width: $break-xl-screen) {
    .template-title {
      font-size: 1.35em;  
    }
  }
}

// Style Tags

.style-tags {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1em 0.5em;
  padding-bottom: 0;
  p {
    margin: 0;  
  }  
  // 768
  @media (min-width: $break-lg-phone) {
    justify-content: space-between;
    padding: 1em 0;   
  }
}

.tag-link {
  @extend .btn;
  @extend .btn-txt;
  color: $link;
  display: inline-block;
  margin: 0;    
  padding: 0 0.25em; 
  i {
    color: $brand-gray;
    display: none;  
    font-size: 0.875em;
    &:before {
      margin: 0;  
    } 
  }
}